<div class="container-fluid">
    <div class="row">
        <app-header></app-header>
        <main class='main col'>
            <router-outlet></router-outlet>
        </main>
        <div>
            <a class='fixed-bottom text-center' href="" style='background:black'>Web diseñada y desarrollada por FRJMA</a>
        </div>
    </div>
</div>
<div style='position: relative; z-index:0'>
    <app-upload-files-modal></app-upload-files-modal>
    <app-password></app-password>
    <app-subject-modal></app-subject-modal>
    <app-index-card-modal></app-index-card-modal>
    <app-alumni-modal></app-alumni-modal>
    <app-professor-modal></app-professor-modal>
    <app-project-modal></app-project-modal>
    <app-users-modal></app-users-modal>
    <app-admin></app-admin>
    <app-img-modal></app-img-modal>
    <app-files-modal></app-files-modal>
    <app-events-modal></app-events-modal>

    <app-calendar-modal></app-calendar-modal>

    <app-facilities-modal></app-facilities-modal>
</div>