<div class="container-fluid">
    <div class="row">
        <app-header></app-header>
        <main class='main col'>
            <router-outlet></router-outlet>
        </main>
        <div>
            <a class='fixed-bottom text-center' href="" style='background:black'>Web diseñada y desarrollada por FRJMA</a>
        </div>
    </div>
</div>

<app-upload-files-modal></app-upload-files-modal>
<app-password></app-password>
<app-subject-modal></app-subject-modal>
<app-index-card-modal></app-index-card-modal>
<app-alumni-modal></app-alumni-modal>