<div class="container-fluid">
    <div class="row">
        <main class='d-flex flex-row justify-content-around'>
            <app-sidebar></app-sidebar>
            <router-outlet></router-outlet>
            <div>
                <p class='fixed-bottom text-center m-0' style='background:black;color:white'>APP diseñada y desarrollada por FRJ Martínez Gómez. Contacta a través de frjmartinezgomez@gmail.com</p>
            </div>
        </main>
    </div>
</div>

<div style='position: relative; z-index:0'>
    <app-upload-files-modal></app-upload-files-modal>
    <app-password></app-password>
    <app-subject-modal></app-subject-modal>
    <app-index-card-modal></app-index-card-modal>
    <app-alumni-modal></app-alumni-modal>
    <app-professor-modal></app-professor-modal>
    <app-project-modal></app-project-modal>
    <app-users-modal></app-users-modal>
    <app-files-modal></app-files-modal>
    <app-events-modal></app-events-modal>
    <app-calendar-modal></app-calendar-modal>
    <app-facilities-modal></app-facilities-modal>
    <app-task-modal></app-task-modal>
</div>