<div class="row p-0 m-0">
  <div class="col-8">
      <div class="row">
        <div class="col-1 d-flex flex-column justify-content-center m-0 p-0 ">
          <a (click)="moveLeft()" class="text-right"><i class="fas fa-arrow-left m-4"></i></a>
          <a (click)="moveLeft('forward')" class="text-right"><i class="fas fa-arrow-right m-4"></i></a>
        </div>
        <div class="col-10">
          <app-line-chart  #chart></app-line-chart>
        </div>
        <div class="col-1 d-flex flex-column justify-content-center m-0 p-0 ">
          <a (click)="moveRight('forward')" class="text-left m-4"><i class="fas fa-arrow-right"></i></a>
          <a (click)="moveRight()" class="text-left m-4"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <div class="form-check">
            <input [(ngModel)]="_paymentServices.state" (change)="companyComponent.generateChart()" class="form-check-input"
              type="radio" name="exampleRadios" id="exampleRadios3" value="CARGO">
            <label class="form-check-label" for="exampleRadios3">
              LIQUIDACIONES CARGO MUSIC
            </label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="_paymentServices.state" (change)="companyComponent.generateChart()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value='notSent'>
            <label class="form-check-label active" for="exampleRadios1">
              LIQUIDACIONES ARTISTAS (NO LIQUIDADAS)
            </label>
          </div>
          <div class="form-check">
            <input [(ngModel)]="_paymentServices.state" (change)="companyComponent.generateChart()"
              class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="sent">
            <label class="form-check-label active" for="exampleRadios2">
              LIQUIDACIONES ARTISTAS (LIQUIDADAS)
            </label>
          </div>
        </div>
      </div>
  </div>
  <div class="col-4">
    <table class='table scrollableTable mb-0' style='background: #F5F1E3'>
      <thead class='mr-4 d-flex justify-content-around'>
        <th style="width:25%">Cantidad</th>
        <th style="width:25%">Fecha</th>
        <th style="width:25%">Track</th>
        <th style="width:25%" > <p *ngIf="_paymentServices.state != 'CARGO' " >Artista</p> <p *ngIf="_paymentServices.state === 'CARGO' " >CARGO MUSIC</p> </th>
      </thead>
      <tbody *ngIf="_paymentServices.payments.length > 0" #tbody style='width:100%'>
        <tr *ngFor="let payment of _paymentServices.payments" class="d-flex justify-content-around">
          <td style="width:25%">{{payment.amount.toFixed(2)}}</td>
          <td style="width:25%">{{payment.date | date: 'M/d/y'}}</td>
          <td style="width:25%">{{payment.track.title}}</td>
          <td style="width:25%" > <p *ngIf="typeOfSearch != 'CARGOMUSIC' && payment.artist ">{{payment.artist['indexcard']['name']}}</p> <p *ngIf="typeOfSearch === 'CARGOMUSIC' "></p> </td>
        </tr>
      </tbody>
      <hr>
      <div class="row m-3" style='background:#F5F1E3;'>
        <div class="col-2"></div>
        <div class="col-8 d-flex justify-content-around">
          <button (click)="switchPage(-5)" *ngIf="_paymentServices.from > 0" class="btn btn-warning">PREV</button>
          <button (click)="switchPage(5)" *ngIf="_paymentServices.from + 5 <=  _paymentServices.count"
            class="btn btn-warning">NEXT</button>
        </div>
      </div>
    </table>
  </div>
</div>