<div class="row d-flex justify-content-center" style='background: #F5F1E3'>
    <div class='col-12 d-flex justify-content-center'>
        <div *ngIf="_projectServices.checkAdmin(_projectServices.projectSelectedId)">
            <button class='btn btn-warning' (click)='postTask()'>Crear nueva tarea</button>
        </div>
    </div>
    <div class='scrollable' *ngIf="_projectServices.groupTasks.length>0" style='height:250px'>
        <h5>Tareas del grupo de trabajo</h5>
        <table class='table'>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Asignado por:</th>
                    <th>Asignado a:</th>
                    <th>Fecha de creación:</th>
                    <th>Fecha límite:</th>
                    <th>¿OK?</th>
                </tr>
            </thead>
            <tbody>
                <tr [ngStyle]="{'background-color': checkTime(task.dateLimit)}" *ngFor="let task of _projectServices.groupTasks">
                    <td style="max-width:'30px';word-break: break-all">{{task.description}}</td>
                    <td>{{task.assignedBy['name']}}</td>
                    <td>{{task.user['name']}}</td>
                    <td>{{task.date | date}}</td>
                    <td>{{task.dateLimit | date}}</td>
                    <td>
                        <button [ngStyle]="{'background-color': task.ok == true? 'green':'#f44141'}">
                            <i *ngIf="task.ok" class="fas fa-check-double"></i>
                            <i  *ngIf="!task.ok && task.checked" class="fas fa-check"></i>
                            <i *ngIf="!task.checked" class="far fa-clock"></i>
                        </button>
                    </td>
                    <td><i *ngIf="_projectServices.checkAdmin(_projectServices.projectSelectedId)" class="far fa-trash-alt" (click)='deleteTask(task._id)'></i></td>
                    <td><i *ngIf="_projectServices.checkAdmin(_projectServices.projectSelectedId)" class="far fa-edit" (click)='putTask(task._id)'></i></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class='scrollable' *ngIf="_projectServices.myTasks.length>0" style='height:250px'>
        <h5>Mis tareas</h5>
        <table class='table'>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Asignado por:</th>
                    <th>Asignado a:</th>
                    <th>Fecha de creación:</th>
                    <th>Fecha límite:</th>
                    <th>¿OK?</th>
                </tr>
            </thead>
            <tbody>
                <tr [ngStyle]="{'background-color': checkTime(task.dateLimit)}" *ngFor="let task of _projectServices.myTasks">
                    <td style="max-width:'30px';word-break: break-all">{{task.description}}</td>
                    <td>{{task.assignedBy['name']}}</td>
                    <td>{{task.user['name']}}</td>
                    <td>{{task.date | date}}</td>
                    <td>{{task.dateLimit | date}}</td>
                    <td>
                        <button [ngStyle]="{'background-color': task.ok == true? 'green':'red'}">
                            <i *ngIf="task.ok" class="fas fa-check-double"></i>
                            <i (click)='taskDone(task._id)' *ngIf="!task.ok && task.checked" class="fas fa-check"></i>
                            <i *ngIf="!task.checked" class="far fa-clock"></i>
                        </button>
                    </td>
                    <td><i *ngIf="_projectServices.checkAdmin(_projectServices.projectSelectedId)" (click)='deleteTask(task._id)' class="far fa-trash-alt"></i></td>
                    <td><i *ngIf="_projectServices.checkAdmin(_projectServices.projectSelectedId)" (click)='putTask(task._id)' class="far fa-edit"></i></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div *ngIf="_projectServices.myTasks.length === 0 && _projectServices.groupTasks.length === 0">
        <h5>No hay tareas asignadas</h5>
    </div>
</div>