.scroll-box {
    overflow-y: scroll;
    height: 500px;
    padding: 1rem
}

.uploadBtnWrap {
    font-family: arial;
    font-size: 12px;
    .btn {
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: #f4f4f4
    }
    input[type="file"] {
        display: none
    }
}

.form-control:focus {
  border-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

