.scrollableTable tbody{
    height: 420px;
}

img{
    height:100px;
    width:100px   
}

@media (min-height: 694px) {
img{
    height:calc(1.1*100px);
    width:calc(1.1*100px)   
}
   .scrollableTable tbody{
    height: calc(1.1*420px);
}
}

@media (min-height: 781px) {
 img{
    height:calc(1.25*100px);
    width:calc(1.25*100px)   
}
.scrollableTable tbody{
    height: calc(1.25*420px);
}
}

@media (min-height: 833px) {
 img{
    height:calc(1.35*100px);
    width:calc(1.35*100px)   
}
.scrollableTable tbody{
    height: calc(1.35*420px);
}
}

@media (min-height: 937px) {
 img{
    height:calc(1.5*100px);
    width:calc(1.5*100px)   
}
.scrollableTable tbody{
    height: calc(1.5*420px);
}
}

@media (min-height: 1250px) {
 img{
    height:calc(2*100px);
    width:calc(2*100px)   
}
.scrollableTable tbody{
    height: calc(2*420px);
}
}

@media (min-height: 1875px) {
  img{
    height:calc(3*100px);
    width:calc(3*100px)   
}
.scrollableTable tbody{
    height: calc(3*420px);
}  
}

@media (min-height: 2500px) {
 img{
    height:calc(3.9*100px);
    width:calc(3.9*100px)   
}
.scrollableTable tbody{
    height: calc(3.9*420px);
}
}