<div class="row animated fadeIn pagesContainerFixed" >
<div class="col-12">
  <div class="row">
    <div class="col-12">
        <div class='list-group'>
            <h3 class='list-group-item-heading text-center'>MANTENIMIENTO DE USUARIOS</h3>
            <div class='d-flex flex-row justify-content-center'>
                <div class='d-flex'>
                    <input #input placeholder="Buscar usuario" class=' list-group-item' type="text">
                    <button class='btn btn-warning ' (click)='searchMode=true;getMode=false;from=0;_userServices.searchUsers(input.value).subscribe()'>BUSCAR USUARIOS</button>
                    <button class='btn btn-warning' (click)='searchMode=false;getMode=true;from=0;_userServices.getUsers().subscribe()'>TODOS</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style='background:#F5F1E3'>
        <table class='table scrollableTable'>
            <thead>
                <th>Imagen</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Estado</th>
                <th></th>
            </thead>
            <tbody style="height:500px">
                <tr *ngFor="let user of _userServices.users">
                    <td>
                        <img class='img-fluid' style='height:100px;width:100px; cursor: pointer ' [src]="user.img | imgPipe:'users'"
                            class='img100 img-circle'>
                    </td>
                    <td>{{user.email}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <select [(ngModel)]='user.role' name="role" class='form-control'
                            (change)="_userServices.changeRole(user._id,user.role).subscribe()">
                            <option value="USER_ROLE">USER_ROLE</option>
                            <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                        </select>
                    </td>
                    <td *ngIf="_userServices.checkRole()">
                        <button *ngIf="!user.status" class='btn btn-warning'
                            (click)="_userServices.changeUserStatus(user._id).subscribe()" name="grantAccess"
                            value="grantAccess">activar</button>
                        <button *ngIf="user.status" class='btn btn-warning'
                            (click)="_userServices.changeUserStatus(user._id).subscribe()" name="grantAccess"
                            value="grantAccess">desactivar</button>
                    </td>
                    <td *ngIf="_userServices.checkRole()">
                        <div class="col-12 d-flex flex-row">
                            <button (click)='deleteUser(user._id)' class='btn btn-danger'>
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class='d-flex justify-content-around'>
            <button *ngIf="from && from > 0" (click)='changeFrom(-5)' class='btn btn-secondary'>Previous</button>
            <button *ngIf="_userServices.count > from+5" (click)='changeFrom(5)' class='btn btn-secondary'>Following</button>
        </div>
    </div>
  </div>
</div>
</div>
