.scrollableTable tbody{
    height: 420px;
}

@media (min-width: 1700px) {
    .scrollableTable tbody{
    height: 600px;
}
}

@media (min-width: 2600px) {
 .scrollableTable tbody{
    height: 800px;
}
}

@media (min-width: 2800px) {
    .scrollableTable tbody{
    height: 1000px;
}
}