<div class="row pagesContainerFixed" style='background:#DCD4D2'>
  <div class="col-12">
    <div class="row">
      <div class="col-12 mt-5" style="height:10%">
        <div class="row">
          <div class="col-10 d-flex justify-content-around mb-2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="albums" id="albums" value="albums"
                [(ngModel)]="_managerServices.item" checked>
              <label class="form-check-label" for="albums">
                Buscar por <a (click)="_managerServices.getOrSearch('albums')" routerLinkActive="router-link-active"
                  style='color:blue'>ALBUMES</a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tracks" id="tracks" value="tracks"
                [(ngModel)]="_managerServices.item">
              <label class="form-check-label" for="tracks">
                Buscar por <a (click)="_managerServices.getOrSearch('tracks')" routerLinkActive="router-link-active"
                  style='color:blue'>PISTAS</a>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="artists" id="artists" value="artists"
                [(ngModel)]="_managerServices.item">
              <label class="form-check-label" for="artists">
                Buscar por <a (click)="_managerServices.getOrSearch('artists')" routerLinkActive="router-link-active"
                  style='color:blue'>ARTISTAS</a>
              </label>
            </div>
          </div>
          <div class="col-10 list-group">
            <input #input [placeholder]="placeHolderContent()" type="text" name="input" id="">
          </div>
          <div class="col-2 p-0 list-group">
            <div class='d-flex justify-content-center '>
              <button (click)="_managerServices.getOrSearch(_managerServices.item,input.value)"
                class='btn btn-warning'>BUSCAR</button>
            </div>
          </div>
          <div class="col-12 mb-1">
            <div class="row">
              <div class='col-3 d-flex justify-content-start '>
                <div class="form-check" style='width: 100%;'>
                  <input [(ngModel)]="_managerServices.dataStored" type="checkbox" class="form-check-input"
                    id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Mantener búsqueda guardada</label>
                </div>
              </div>
              <div class='col-9 d-flex justify-content-center'>
                <button (click)='postAlbum()' class='btn btn-warning'>NUEVO ALBUM</button>
                <button (click)='postArtist()' class='btn btn-warning'>NUEVO ARTISTA</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" style="height:90%">
        <div class="row" style="background-color:white;height:100%">
          <div #searchGetColumn
            *ngIf="_managerServices.albums.length != 0 || _managerServices.tracks.length != 0 || _managerServices.artists.length != 0"
            style='border:1px solid black; height:100%' class="col-12 p-0 d-flex flex-column">
            <div class='d-flex justify-content-end'>
              <button
                (click)="_managerServices.albums =[];_managerServices.tracks=[];_managerServices.artists=[];_managerServices.getOrSearch('#')"
                class='btn btn-danger '>X</button>
            </div>
            <app-albums *ngIf="_managerServices.albums.length != 0"></app-albums>
            <app-tracks *ngIf="_managerServices.tracks.length != 0"></app-tracks>
            <app-artist *ngIf="_managerServices.artists.length != 0"></app-artist>
          </div>
          <div #navigateColumn *ngIf="_managerServices.album || _managerServices.track || _managerServices.artist "
            class='m-0 p-0 col-12' id="accordion2" style='border:1px solid black'>
            <div *ngIf="_managerServices.album" class="card m-0 p-0">
              <div class="card-header" id="headingTwo" style="background:#506fa1">
                <div class="row">
                  <div class="col-10 d-flex justify-content-center">
                    <h5 class="mb-0">
                      <button class="btn btn-warning" data-toggle="collapse" data-target="#albumCollapse" aria-expanded="true"
                        aria-controls="albumCollapse">
                        {{_managerServices.album.title}}
                      </button>
                    </h5>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <button (click)='_managerServices.album = undefined; _managerServices.idNavigation()'
                      class='btn btn-danger '>X</button>
                  </div>
                </div>
              </div>
              <div id="albumCollapse" #albumCollapseControl class="collapse" aria-labelledby="headingTwo"
                data-parent="#accordion2">
                <app-albums [albumId]='_managerServices.album._id'></app-albums>
              </div>
            </div>
            <div *ngIf="_managerServices.track" class="card">
              <div class="card-header" id="headingThree" style="background-color:#499969">
                <div class="row">
                  <div class="col-10 d-flex justify-content-center">
                    <h5 class="mb-0">
                      <button class="btn btn-warning" data-toggle="collapse" data-target="#trackCollapse" aria-expanded="true"
                        aria-controls="trackCollapse">
                        {{_managerServices.track.title}}
                      </button>
                    </h5>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <button (click)='_managerServices.track = undefined; _managerServices.idNavigation()'
                      class='btn btn-danger '>X</button>
                  </div>
                </div>
              </div>
              <div id="trackCollapse" #trackCollapseControl class="collapse" aria-labelledby="headingThree"
                data-parent="#accordion2">
                <app-tracks [trackId]='_managerServices.track._id'></app-tracks>
              </div>
            </div>
            <div *ngIf="_managerServices.artist" class="card">
              <div class="card-header" id="headingFour" style="background-color:#b06e45">
                <div class="row">
                  <div class="col-10 d-flex justify-content-center">
                    <h5 class="mb-0">
                      <button class="btn btn-warning" data-toggle="collapse" data-target="#artistCollapse"
                        aria-expanded="true" aria-controls="artistCollapse">
                        {{_managerServices.artist.indexcard['name']}}
                      </button>
                    </h5>
                  </div>
                  <div class="col-2 d-flex justify-content-end">
                    <button (click)='_managerServices.artist = undefined; _managerServices.idNavigation()'
                      class='btn btn-danger '>X</button>
                  </div>
                </div>
              </div>
              <div id="artistCollapse" #artistCollapseControl class="collapse" aria-labelledby="headingFour"
                data-parent="#accordion2">
                <app-artist [artistId]='_managerServices.artist._id'></app-artist>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
