<div class="m-2">
    <div *ngIf="firstDate" class='row d-flex justify-content-between'>
        <button class='btn btn-warning' (click)='switchYear(-1)'>PREV</button>
        <h4>{{firstDate.getFullYear()}}</h4>
        <button class='btn btn-warning' (click)='switchYear(1)'>NEXT</button>
    </div>
    <div *ngIf="month" class='row d-flex justify-content-around'>
        <button class='btn btn-warning' (click)='switchMonth(-1)'>PREV</button>
        <h5>{{month}}</h5>
        <button class='btn btn-warning' (click)='switchMonth(1)'>NEXT</button>
    </div>
    <div *ngIf="frame && frame.length >= 33" class='row'>
        <div class="col-12">
            <div class="row d-flex flex-row justify-content-between card-group">
                <div class="card">
                    <div class="card-body">
                        Lunes
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Martes
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Miércoles
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Jueves
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Viernes
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Sábado
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        Domingo
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row d-flex card-group">
                        <div class="card">
                            <div class="card-body">
                                <a [ngStyle]="{'opacity': linkStyle(0,'opacity'),'background-color': linkStyle(0,'bg')}"
                                    (click)="valueChange(frame[0])">{{frame[0].getDate()}}</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a [ngStyle]="{'opacity': linkStyle(1,'opacity'),'background-color': linkStyle(1,'bg')}"
                                    (click)="valueChange(frame[1])">{{frame[1].getDate()}}</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a [ngStyle]="{'opacity': linkStyle(2,'opacity'),'background-color': linkStyle(2,'bg')}"
                                    (click)="valueChange(frame[2])">{{frame[2].getDate()}}</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a [ngStyle]="{'opacity': linkStyle(3,'opacity'),'background-color': linkStyle(3,'bg')}"
                                    (click)="valueChange(frame[3])">{{frame[3].getDate()}}</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a [ngStyle]="{'opacity': linkStyle(4,'opacity'),'background-color': linkStyle(4,'bg')}"
                                    (click)="valueChange(frame[4])">{{frame[4].getDate()}}</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a [ngStyle]="{'opacity': linkStyle(5,'opacity'),'background-color': linkStyle(5,'bg')}"
                                    (click)="valueChange(frame[5])">{{frame[5].getDate()}}</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a [ngStyle]="{'opacity': linkStyle(6,'opacity'),'background-color': linkStyle(6,'bg')}"
                                    (click)="valueChange(frame[6])">{{frame[6].getDate()}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex card-group">
                <div class="card">
                    <div class="card-body">
                        <a [ngClass]="{'disabled': true}"
                            [ngStyle]="{'opacity': linkStyle(7,'opacity'),'background-color': linkStyle(7,'bg')}"
                            (click)="valueChange(frame[7])">{{frame[7].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(8,'opacity'),'background-color': linkStyle(8,'bg')}"
                            (click)="valueChange(frame[8])">{{frame[8].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(9,'opacity'),'background-color': linkStyle(9,'bg')}"
                            (click)="valueChange(frame[9])">{{frame[9].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(10,'opacity'),'background-color': linkStyle(10,'bg')}"
                            (click)="valueChange(frame[10])">{{frame[10].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(11,'opacity'),'background-color': linkStyle(11,'bg')}"
                            (click)="valueChange(frame[11])">{{frame[11].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(12,'opacity'),'background-color': linkStyle(12,'bg')}"
                            (click)="valueChange(frame[12])" (click)="valueChange(frame[12])">{{frame[12].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(13,'opacity'),'background-color': linkStyle(13,'bg')}"
                            (click)="valueChange(frame[13])">{{frame[13].getDate()}}</a>
                    </div>
                </div>
            </div>
            <div class="row d-flex card-group">
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(14,'opacity'),'background-color': linkStyle(14,'bg')}"
                            (click)="valueChange(frame[14])">{{frame[14].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(15,'opacity'),'background-color': linkStyle(15,'bg')}"
                            (click)="valueChange(frame[15])">{{frame[15].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(16,'opacity'),'background-color': linkStyle(16,'bg')}"
                            (click)="valueChange(frame[16])">{{frame[16].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(17,'opacity'),'background-color': linkStyle(17,'bg')}"
                            (click)="valueChange(frame[17])">{{frame[17].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(18,'opacity'),'background-color': linkStyle(18,'bg')}"
                            (click)="valueChange(frame[18])">{{frame[18].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(19,'opacity'),'background-color': linkStyle(19,'bg')}"
                            (click)="valueChange(frame[19])">{{frame[19].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(20,'opacity'),'background-color': linkStyle(20,'bg')}"
                            (click)="valueChange(frame[20])">{{frame[20].getDate()}}</a>
                    </div>
                </div>
            </div>
            <div class="row d-flex card-group">
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(21,'opacity'),'background-color': linkStyle(21,'bg')}"
                            (click)="valueChange(frame[21])">{{frame[21].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(22,'opacity'),'background-color': linkStyle(22,'bg')}"
                            (click)="valueChange(frame[22])">{{frame[22].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(23,'opacity'),'background-color': linkStyle(23,'bg')}"
                            (click)="valueChange(frame[23])">{{frame[23].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(24,'opacity'),'background-color': linkStyle(24,'bg')}"
                            (click)="valueChange(frame[24])">{{frame[24].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(25,'opacity'),'background-color': linkStyle(25,'bg')}"
                            (click)="valueChange(frame[25])">{{frame[25].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(26,'opacity'),'background-color': linkStyle(26,'bg')}"
                            (click)="valueChange(frame[26])">{{frame[26].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(27,'opacity'),'background-color': linkStyle(27,'bg')}"
                            (click)="valueChange(frame[27])">{{frame[27].getDate()}}</a>
                    </div>
                </div>
            </div>
            <div class="row d-flex card-group">
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(28,'opacity'),'background-color': linkStyle(28,'bg')}"
                            (click)="valueChange(frame[28])">{{frame[28].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(29,'opacity'),'background-color': linkStyle(29,'bg')}"
                            (click)="valueChange(frame[29])">{{frame[29].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(30,'opacity'),'background-color': linkStyle(30,'bg')}"
                            (click)="valueChange(frame[30])">{{frame[30].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(31,'opacity'),'background-color': linkStyle(31,'bg')}"
                            (click)="valueChange(frame[31])">{{frame[31].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(32,'opacity'),'background-color': linkStyle(32,'bg')}"
                            (click)="valueChange(frame[32])">{{frame[32].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(33,'opacity'),'background-color': linkStyle(33,'bg')}"
                            (click)="valueChange(frame[33])">{{frame[33].getDate()}}</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a [ngStyle]="{'opacity': linkStyle(34,'opacity'),'background-color': linkStyle(34,'bg')}"
                            (click)="valueChange(frame[34])">{{frame[34].getDate()}}</a>
                    </div>
                </div>
            </div>
        </div>

</div>
