<div class='animated fadeIn' [ngClass]="_modalController.hidden">
    <div class="modal" style='display:block' role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="hideModal()" type="button" class="close btn btn-warning" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-4">

                    <!-- PAGE 1 -->
                    <div *ngIf="page === '1'" class="custom-control custom-checkbox">
                        <div class='d-flex flex-column'>
                            <input [(ngModel)]="event.permanent" type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Quiero que este evento se repita más semanas</label>
                            <button class='mt-2 btn btn-warning' (click)="_projectServices.getProjects().subscribe();page = '2'">NEXT</button>
                        </div>
                    </div>
                    <!-- PAGE 2 -->
                    <div *ngIf="page === '2'">
                        <p class='text-center'>Puedes asignar el evento a un determinado proyecto</p>
                        <select *ngIf="_projectServices.projects.length > 0" [(ngModel)]="event.project" name="event.project" class='form-control'>
                            <option value=""></option>
                            <option *ngFor="let project of _projectServices.projects" [value]="project._id">{{project.name}}</option>
                      </select>
                        <div class='d-flex justify-content-around'>
                            <button class='btn btn-warning' (click)="page = '1'">PREV</button>
                            <button class='btn btn-warning' (click)="page3()">NEXT</button>
                        </div>
                    </div>
                    <!--  PAGE 3 -->
                    <div *ngIf="page ==='3'" class="d-flex justify-content-center form-group flex-column mb-2">
                        <p class='text-center'>Selecciona la hora de inicio del evento</p>
                        <select [(ngModel)]="startPosition" name="startPosition" class='form-control'>
                                        <option value="0"></option>
                                        <option *ngIf="spaceAvailable >= 0.25 && checkInitialStartHour() < 1" value='{{checkInitialStartHour()}}'>{{event.position | timeConversor:'0'}}</option>
                                        <option *ngIf="spaceAvailable >= 0.50 && checkInitialStartHour() < 0.75" value='{{checkInitialStartHour()+0.25}}'>{{event.position | timeConversor:'25'}}</option>
                                        <option *ngIf="spaceAvailable >= 0.75 && checkInitialStartHour() < 0.50 " value='{{checkInitialStartHour()+0.50}}'>{{event.position | timeConversor:'50'}}</option>
                                        <option *ngIf="spaceAvailable >= 1 && checkInitialStartHour() < 0.25" value='{{checkInitialStartHour()+0.75}}'>{{event.position | timeConversor:'75'}}</option>
                                    </select>
                        <div class='d-flex justify-content-around'>
                            <button class='btn btn-warning' (click)="page = '2'">PREV</button>
                            <button class='btn btn-warning' *ngIf="startPosition" (click)="page4()">NEXT</button>
                        </div>
                    </div>

                    <!--  PAGE 4  -->
                    <div *ngIf="page === '4'" class="d-flex form-group d-flex flex-column">
                        DURACION
                        <select #hour class='form-control' (click)="checkHoursAvailables(hour.value)">
                                    <option  value=0> </option>
                                    <option *ngIf="timeValue2 >= 1" value=1>1</option>
                                    <option *ngIf="timeValue2 >= 2"value=2>2</option>
                                    <option *ngIf="timeValue2 >= 3"value=3>3</option>
                                    <option *ngIf="timeValue2 >= 4"value=4>4</option>
                                    <option *ngIf="timeValue2 >= 5"value=5>5</option>
                                    <option *ngIf="timeValue2 >= 6"value=6>6 </option>
                                    <option *ngIf="timeValue2 >= 7"value=7>7</option>
                                    <option *ngIf="timeValue2 >= 8"value=8>8</option>
                                    <option *ngIf="timeValue2 >= 9"value=9>9</option>
                                    <option *ngIf="timeValue2 >= 10"value=10>10</option>
                                    <option *ngIf="timeValue2 >= 11"value=11>11</option>
                                    <option *ngIf="timeValue2 >= 12" value=12>12</option>
                                </select>
                        <select #minutes class='form-control' (click)="checkMinutesAvailables(minutes.value)">
                            <option value=0></option>
                            <option *ngIf="timeValue1 >=0.25" value=0.25>15 minutos</option>
                            <option *ngIf="timeValue1 >= 0.50" value=0.50>30 minutos</option>
                            <option  *ngIf="timeValue1  >= 0.75" value=0.75>45 minutos</option>
                        </select>
                        <div class='d-flex justify-content-around'>
                            <button class='btn btn-warning' (click)="page3('back')">PREV</button>
                            <button class='btn btn-warning' *ngIf="timeValue1 != spaceAvailable || timeValue2 != spaceAvailable" (click)=" page5() ">NEXT</button>
                        </div>
                    </div>

                    <!--PAGE 5 -->
                    <div *ngIf="page === '5'">
                        <p>Día de inicio del evento: {{event.startDate | date}}</p>
                        <div *ngIf="availableDatesFrame.length === 0" class="custom-control custom-checkbox">
                            <input [(ngModel)]="noLimit" name='noLimit' type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Sin límite temporal</label>
                            <p *ngIf="noLimit === false">Semanas:<input [(ngModel)]='weeksOfDuration' name='weeksOfDuration' type="number" max='999' min='0'> </p>
                            <div class="row mt-1">
                                <button class='btn btn-warning' (click)="page4()">BACK</button>
                                <button *ngIf="weeksOfDuration > 0 || noLimit" class='btn btn-warning' (click)="page6()">OK</button>
                            </div>
                        </div>
                        <div *ngIf="availableDatesFrame.length > 0">
                            <p *ngIf="availableDatesFrame.length > 1">Semanas:<input [(ngModel)]='weeksOfDuration' name='weeksOfDuration' type="number" [max]="availableDatesFrame.length" min='0'> </p>
                            <p *ngIf="availableDatesFrame.length > 1">Fecha limite: {{availableDatesFrame[availableDatesFrame.length -1 ] | date}}
                            </p>
                            <p *ngIf="availableDatesFrame.length === 1">Solo durará esta semana, ya que se solapa con otro evento la semana siguiente
                            </p>
                            <div class="row mt-1">
                                <button class='btn btn-warning' (click)="page4()">BACK</button>
                                <button *ngIf="weeksOfDuration > 0 || noLimit" class='btn btn-warning' (click)="page6()">NEXT</button>
                            </div>
                        </div>
                        <p *ngIf="weeksOfDuration && !noLimit">Día de finalización del evento:{{updateEndUpDate() | date}} </p>
                    </div>

                    <!--  PAGE 6  -->
                    <div *ngIf="page==='6' " #div3 class="row d-flex form-group flex-column align-content-center ">
                        <input [(ngModel)]='event.name' type="text " class="form-control " placeholder="name " required>
                        <textarea [(ngModel)]="event.description " type="text " name="description " class="form-control "></textarea>
                        <div class='d-flex justify-content-around'>
                            <button class='btn btn-warning' (click)="page5('back')">PREV</button>
                            <button class='btn btn-warning' *ngIf="event.name" (click)="page7()">NEXT</button>
                        </div>
                    </div>

                    <!--  PAGE 7  -->
                    <div *ngIf="page ==='7' " #div4 class="row d-flex justify-content-center ">
                        <div class="col-12 d-flex flex-column ">
                            <p> NOMBRE: {{event.name}}</p>
                            <p>DESCRIPCION: {{event.description}}</p>
                            <p>EMPIEZA A LAS : {{event.position | timeConversor2: null }}</p>
                            <p>TERMINA A LAS : {{event.position | timeConversor2: event.duration }}</p>
                            <p>INSTALACIÓN : {{facilitie.name}}</p>
                            <p>DURACIÓN : {{event.duration | timeConversor1}}</p>
                            <div class="row ml-1 d-flex flex-column">
                                <p *ngIf="event.permanent">SE REPITE CADA {{event.startDate | date : 'EEEE'}}</p>
                                <p *ngIf="!noLimit && event.endDate"> {{ dateFixer(event.endDate)}}</p>
                            </div>
                            <div *ngIf="_userServices.checkRole()">
                                <button class='btn btn-warning' *ngIf="createMode" (click)='postEvent()'>CREAR EVENTO</button>
                                <button class='btn btn-warning' *ngIf="editMode" (click)="fixEventBack()">EDITAR EVENTO</button>
                                <button class='btn btn-warning' *ngIf="modifyMode" (click)='putEvent()'>APLICAR CAMBIOS</button>
                                <button class='btn btn-warning' *ngIf="modifyMode || createMode" (click)="page='6'">ATRÁS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>