<div class='backgroundBlack animated fadeIn' [ngClass]="_modalService.hidden">
    <div *ngIf="_modalService.type === 'forgot'" class="modal" style='display: block' tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button (click)="hideModal()" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form action="" ngNativeValidate #form='ngForm' role="form">
                        <div class="form-group">
                            <input ngModel name='email' class="form-control" placeholder="Introduce tu email" name="email" type="email" value="">
                        </div>
                        <hr>
                        <br>
                        <button (click)='forgotRequest(form.value.email)' class='btn btn-lg btn-warning btn-block' type='submit'> <strong>ENVIAR</strong>
              </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button (click)="hideModal()" type="button" class="btn btn-secondary"> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>