<div class="row m-1" *ngIf="!artistId" style="height:100%">
        <table class='table scrollableTable'>
            <thead>
                <th>Nombre</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let artist of _managerServices.artists let i=index">
                    <td> <a  style="color:blue" routerLinkActive="router-link-active"
                            (click)="overviewComponent.idNavigation(artist._id,'artist')">{{artist.indexcard['name']}}</a> </td>
                            <td></td>
                </tr>
            </tbody>
        </table>
       <div class='d-flex justify-content-around m-2'>
            <button *ngIf="_managerServices.from && _managerServices.from > 0" (click)='changeFrom(-6) '
                class='btn btn-secondary '>Previous</button>
            <button *ngIf="_managerServices.count > _managerServices.from + 6" (click)='changeFrom(6) '
                class='btn btn-secondary '>Following</button>
        </div> 
</div>
<div class="row m-1" *ngIf="artistId" style="height:100%">
  <div class="col-12 d-flex justify-content-between">
    <div class="d-flex justify-content-start">
       <button (click)="deleteArtist()" class="btn btn-danger">X</button>
       <button (click)="putArtist(_managerServices.artist.indexcard['_id'])" class='btn btn-primary'><i class="fas fa-edit"></i></button>
    </div>
    <div class='d-flex justify-content-end'>
      <button (click)='showAssignations()' class="btn btn-warning" >VER PARTICIPACIONES</button>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center">
    LIQUIDACIONES
  </div>
    <table class='table scrollableTable'>
        <thead class="d-flex justify-content-around">
            <th style="width:33%">Track</th>
            <th style="width:33%">Amount</th>
            <th style="width:33%">Date</th>
        </thead>
        <tbody>
            <tr *ngFor="let payment of _managerServices.artist.payments">
                <td> <a (click)="_managerServices.idNavigation(payment.track['_id'],'artist')">{{payment.track['title']}}</a> </td>
                <td>
                    <p>{{payment.amount}}</p>
                </td>
                <td>
                    <p>{{payment.date | date}}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class='d-flex justify-content-center mb-2 '>
        <button *ngIf="_managerServices.from && _managerServices.from > 0" (click)='changeFrom(-6) ' class='btn btn-secondary '>Previous</button>
        <button *ngIf="_managerServices.count > _managerServices.from + 6" (click)='changeFrom(6) ' class='btn btn-secondary '>Following</button>
    </div>
</div>
