<div class="row d-flex justify-content-center">

    <div class="col-6">

    </div>

</div>

<div class="row">
    <div class="col-6">
        <ng-container *ngFor="let calendar of calendars">
            <div *ngIf="calendar.monday.date < currentCalendar.monday.date " (click)='navigateToCalendar(calendar._id)' class="card">
                <div class="card-body">
                    {{calendar.monday.date.getDate()}} - {{calendar.sunday.date.getDate()}}
                </div>
            </div>
        </ng-container>
    </div>
    <div class="col-6">
        <ng-container *ngFor="let calendar of calendars">
            <div *ngIf="calendar.monday.date > currentCalendar.monday.date" (click)='navigateToCalendar(calendar._id)' class="card">
                <div class="card-body">
                    {{calendar.monday.date.getDate()}} - {{calendar.sunday.date.getDate()}}
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div *ngIf="week" class='row card-group d-flex flex-column mt-3'>
    <div class="card text-center">
        <div class="card-body">
            Lunes {{week[0].date.getDate()}}/{{week[0].date.getMonth()+1}}/{{week[0].date.getFullYear()}}
            <a (click)="toDay(week[0].id)" routerLinkActive="router-link-active" class="btn btn-primary">Show</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            Martes {{week[1].date.getDate()}}/{{week[1].date.getMonth()+1}}/{{week[1].date.getFullYear()}}
            <a (click)="toDay(week[1].id)" routerLinkActive="router-link-active" class="btn btn-primary">Show</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            Miércoles {{week[2].date.getDate()}}/{{week[2].date.getMonth()+1}}/{{week[2].date.getFullYear()}}
            <a (click)="toDay(week[2].id)" routerLinkActive="router-link-active" class="btn btn-primary">Show</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            Jueves {{week[3].date.getDate()}}/{{week[3].date.getMonth()+1}}/{{week[3].date.getFullYear()}}
            <a (click)="toDay(week[3].id)" routerLinkActive="router-link-active" class="btn btn-primary">Show</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            Viernes {{week[4].date.getDate()}}/{{week[4].date.getMonth()+1}}/{{week[4].date.getFullYear()}}
            <a (click)="toDay(week[4].id)" routerLinkActive="router-link-active" class="btn btn-primary">Show</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            Sábado {{week[5].date.getDate()}}/{{week[5].date.getMonth()+1}}/{{week[5].date.getFullYear()}}
            <a (click)="toDay(week[5].id)" routerLinkActive="router-link-active" class="btn btn-primary">Show</a>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            Domingo {{week[6].date.getDate()}}/{{week[6].date.getMonth()+1}}/{{week[6].date.getFullYear()}}
            <a (click)="toDay(week[6].id)" routerLinkActive="router-link-active" class="btn btn-primary">Show</a>
        </div>
    </div>
</div>