<div *ngIf="week">
    <div class="card">
        <h5 class="card-header text-center">Lunes {{week[0]}} </h5>
        <div class="card-body">
            <div class='dropdown' auto-close="disabled">
                <div class='d-flex justify-content-center'>
                    <button #myButton class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               </button>
                    <div appAvoidClose class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style='margin-right:3%'>
                        <button (click)="persist === false"></button>
                        <div id='dropdown-item' class='d-flex flex-row justify-content-around'>
                            <form action=""></form>
                            <div class="card" style='width:100%'>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row card-group d-flex flex-row justify-content-around">
                                                <div *ngFor="let facilitie of facilities" class="card">
                                                    <div class="card-body">
                                                        {{facilitie.nombre}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 d-flex flex-column justify-content-around">
                                            <div><span>8-9</span></div>
                                            <div><span>9-10</span></div>
                                            <div><span>10-11</span></div>
                                            <div><span>11-12</span></div>
                                            <div><span>12-13</span></div>
                                            <div><span>13-14</span></div>
                                            <div><span>14-15</span></div>
                                            <div><span>15-16</span></div>
                                            <div><span>16-17</span></div>
                                            <div><span>17-18</span></div>
                                            <div><span>18-19</span></div>
                                            <div><span>19-20</span></div>
                                        </div>
                                        <div *ngIf="calendar" class="col-11 d-flex m-0 p-0 justify-content-around">
                                            <div *ngFor="let facilitie of facilities" class="d-flex flex-column justify-content-around" [ngStyle]="{'width': rowsWidth}">
                                                <div class="card" (click)="event(1,'lunes')">
                                                    <div class="card-body">
                                                        <a>Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(2)'>
                                                    <div class="card-body">
                                                        <a>Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(3)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(4)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(5)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(6)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(7)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(8)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(9)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(10)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(11)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" (click)='event(12)'>
                                                    <div class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">martes {{week[1]}} </h5>
        <div class="card-body">
            <div class="dropdown">
                <div class='d-flex justify-content-center'>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style='margin-right:3%'>
                        <div class='d-flex flex-row justify-content-around'>
                            <div class="card" style='width:100%'>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row card-group d-flex flex-row justify-content-around">
                                                <div *ngFor="let facilitie of facilities" class="card">
                                                    <div class="card-body">
                                                        {{facilitie.nombre}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 d-flex flex-column justify-content-around">
                                            <div><span>8-9</span></div>
                                            <div><span>9-10</span></div>
                                            <div><span>10-11</span></div>
                                            <div><span>11-12</span></div>
                                            <div><span>12-13</span></div>
                                            <div><span>13-14</span></div>
                                            <div><span>14-15</span></div>
                                            <div><span>15-16</span></div>
                                            <div><span>16-17</span></div>
                                            <div><span>17-18</span></div>
                                            <div><span>18-19</span></div>
                                            <div><span>19-20</span></div>
                                        </div>
                                        <div class="col-11 d-flex m-0 p-0 justify-content-around">
                                            <div *ngFor="let facilitie of facilities" class="d-flex flex-column justify-content-around">
                                                <div class="card">
                                                    <div (click)='event(1)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(2)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(3)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(4)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(5)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(6)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(7)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(8)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(9)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(10)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(11)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(12)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">miércoles {{week[2]}} </h5>
        <div class="card-body">
            <div class="dropdown">
                <div class='d-flex justify-content-center'>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style='margin-right:3%'>
                        <div class='d-flex flex-row justify-content-around'>
                            <div class="card" style='width:100%'>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row card-group d-flex flex-row justify-content-around">
                                                <div *ngFor="let facilitie of facilities" class="card">
                                                    <div class="card-body">
                                                        {{facilitie.nombre}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 d-flex flex-column justify-content-around">
                                            <div><span>8-9</span></div>
                                            <div><span>9-10</span></div>
                                            <div><span>10-11</span></div>
                                            <div><span>11-12</span></div>
                                            <div><span>12-13</span></div>
                                            <div><span>13-14</span></div>
                                            <div><span>14-15</span></div>
                                            <div><span>15-16</span></div>
                                            <div><span>16-17</span></div>
                                            <div><span>17-18</span></div>
                                            <div><span>18-19</span></div>
                                            <div><span>19-20</span></div>
                                        </div>
                                        <div class="col-11 d-flex m-0 p-0 justify-content-around">
                                            <div *ngFor="let facilitie of facilities" class="d-flex flex-column justify-content-around">
                                                <div class="card">
                                                    <div (click)='event(1)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(2)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(3)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(4)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(5)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(6)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(7)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(8)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(9)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(10)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(11)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(12)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">jueves {{week[3]}} </h5>
        <div class="card-body">
            <div class="dropdown">
                <div class='d-flex justify-content-center'>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style='margin-right:3%'>
                        <div class='d-flex flex-row justify-content-around'>
                            <div class="card" style='width:100%'>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row card-group d-flex flex-row justify-content-around">
                                                <div *ngFor="let facilitie of facilities" class="card">
                                                    <div class="card-body">
                                                        {{facilitie.nombre}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 d-flex flex-column justify-content-around">
                                            <div><span>8-9</span></div>
                                            <div><span>9-10</span></div>
                                            <div><span>10-11</span></div>
                                            <div><span>11-12</span></div>
                                            <div><span>12-13</span></div>
                                            <div><span>13-14</span></div>
                                            <div><span>14-15</span></div>
                                            <div><span>15-16</span></div>
                                            <div><span>16-17</span></div>
                                            <div><span>17-18</span></div>
                                            <div><span>18-19</span></div>
                                            <div><span>19-20</span></div>
                                        </div>
                                        <div class="col-11 d-flex m-0 p-0 justify-content-around">
                                            <div *ngFor="let facilitie of facilities" class="d-flex flex-column justify-content-around">
                                                <div class="card">
                                                    <div (click)='event(1)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(2)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(3)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(4)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(5)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(6)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(7)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(8)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(9)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(10)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(11)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(12)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">viernes {{week[4]}} </h5>
        <div class="card-body">
            <div class="dropdown">
                <div class='d-flex justify-content-center'>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style='margin-right:3%'>
                        <div class='d-flex flex-row justify-content-around'>
                            <div class="card" style='width:100%'>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row card-group d-flex flex-row justify-content-around">
                                                <div *ngFor="let facilitie of facilities" class="card">
                                                    <div class="card-body">
                                                        {{facilitie.nombre}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 d-flex flex-column justify-content-around">
                                            <div><span>8-9</span></div>
                                            <div><span>9-10</span></div>
                                            <div><span>10-11</span></div>
                                            <div><span>11-12</span></div>
                                            <div><span>12-13</span></div>
                                            <div><span>13-14</span></div>
                                            <div><span>14-15</span></div>
                                            <div><span>15-16</span></div>
                                            <div><span>16-17</span></div>
                                            <div><span>17-18</span></div>
                                            <div><span>18-19</span></div>
                                            <div><span>19-20</span></div>
                                        </div>
                                        <div class="col-11 d-flex m-0 p-0 justify-content-around">
                                            <div *ngFor="let facilitie of facilities" class="d-flex flex-column justify-content-around">
                                                <div class="card">
                                                    <div (click)='event(1)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(2)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(3)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(4)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(5)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(6)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(7)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(8)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(9)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(10)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(11)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(12)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">sábado {{week[5]}} </h5>
        <div class="card-body">
            <div class="dropdown">
                <div class='d-flex justify-content-center'>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style='margin-right:3%'>
                        <div class='d-flex flex-row justify-content-around'>
                            <div class="card" style='width:100%'>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row card-group d-flex flex-row justify-content-around">
                                                <div *ngFor="let facilitie of facilities" class="card">
                                                    <div class="card-body">
                                                        {{facilitie.nombre}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 d-flex flex-column justify-content-around">
                                            <div><span>8-9</span></div>
                                            <div><span>9-10</span></div>
                                            <div><span>10-11</span></div>
                                            <div><span>11-12</span></div>
                                            <div><span>12-13</span></div>
                                            <div><span>13-14</span></div>
                                            <div><span>14-15</span></div>
                                            <div><span>15-16</span></div>
                                            <div><span>16-17</span></div>
                                            <div><span>17-18</span></div>
                                            <div><span>18-19</span></div>
                                            <div><span>19-20</span></div>
                                        </div>
                                        <div class="col-11 d-flex m-0 p-0 justify-content-around">
                                            <div *ngFor="let facilitie of facilities" class="d-flex flex-column justify-content-around">
                                                <div class="card">
                                                    <div (click)='event(1)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(2)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(3)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(4)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(5)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(6)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(7)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(8)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(9)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(10)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(11)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div (click)='event(12)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-center">domingo {{week[6]}} </h5>
        <div class="card-body">
            <div class="dropdown">
                <div class='d-flex justify-content-center'>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                    <div class="dropdown-menu col-12" aria-labelledby="dropdownMenuButton" style='margin-right:3%'>
                        <div class='d-flex flex-row justify-content-around'>
                            <div class="card" style='width:100%'>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-11">
                                            <div class="row card-group d-flex flex-row justify-content-around">
                                                <div *ngFor="let facilitie of facilities" class="card">
                                                    <div class="card-body">
                                                        {{facilitie.nombre}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 d-flex flex-column justify-content-around">
                                            <div><span>8-9</span></div>
                                            <div><span>9-10</span></div>
                                            <div><span>10-11</span></div>
                                            <div><span>11-12</span></div>
                                            <div><span>12-13</span></div>
                                            <div><span>13-14</span></div>
                                            <div><span>14-15</span></div>
                                            <div><span>15-16</span></div>
                                            <div><span>16-17</span></div>
                                            <div><span>17-18</span></div>
                                            <div><span>18-19</span></div>
                                            <div><span>19-20</span></div>
                                        </div>
                                        <div class="col-11 d-flex m-0 p-0 justify-content-around">
                                            <div *ngFor="let facilitie of facilities" class="d-flex flex-column justify-content-around">
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event()' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(2)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(3)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(4)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(5)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(6)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(7)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(8)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(9)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:10%'>
                                                    <div (click)='event(10)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:0%'>
                                                    <div (click)='event(11)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                                <div class="card" style='height:0%'>
                                                    <div (click)='event(12)' class="card-body">
                                                        <a href="">Nuevo Evento</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>