.empty {
    background-color: #F5F1E3
}

.link {
    cursor: pointer;
}

.card {
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 10px
}

.card-body {
    height: 60px;
    padding: 0px;
    margin: 0px;
    border: none
}

.card-group {
    margin: 0px;
    padding: 0px;
}