<div class="container p-5 m-2 animated fadeIn" style='background:#DCD4D2;height:400px;width:1150px;border:1px solid black '>
    <div class="row">
        <div class='col text-center'>
            <div class='d-flex flex-column justify-content-center p-2'>
                <div>
                    <img class='img-fluid' [src]="_userServices.userOnline.img | imgPipe">
                </div>
                <div>
                    <a (click)='changeImg()'><strong style='cursor: pointer;'>CAMBIAR IMAGEN</strong></a>
                </div>
            </div>
        </div>
        <div class='col'>
            <form action="" ngNativeValidate #form='ngForm' role="form" (ngSubmit)='saveChanges(form)'>
                <div class='form-group'>
                    <label for="nombre">Tu nombre</label>
                    <input [ngModel]="_userServices.userOnline.name" class='form-control' type="text" placeholder="nombre" id="name" name="name">
                </div>
                <div class='form-group'>
                    <label for="password">Tu email</label>
                    <input [ngModel]="_userServices.userOnline.email" class='form-control' type="email" placeholder="email" id="email" name="email">
                </div>
                <button class='btn btn-warning btn-block mt-3' type='submit'>Guardar</button>
            </form>
            <div class='text-center pt-4'>
                <a (click)='openPasswordModal()'><strong style='cursor: pointer;'>CAMBIAR PASSWORD</strong></a>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>