<div class="row animated fadeIn pagesContainerFixed ">
        <div class='col-12 text-center m-2 d-flex justify-content-center'>
            <div class='d-flex flex-column justify-content-center p-2'>
                <div>
                    <img class='img-fluid' style='height:250px;width:250px' [src]="_userServices.userOnline.img | imgPipe">
                </div>
                <div>
                    <a (click)='changeImg()'><strong style='cursor: pointer;'>CAMBIAR IMAGEN</strong></a>
                </div>
            </div>
        </div>
        <div class='col-12 m-4'>
          <div class="row d-flex flex-column">
            <div class="col-12 d-flex justify-content-center">
              <div class='form-group m-2'>
                <label class='p-1' for="name">Tu nombre</label>
                <input id="name" [(ngModel)]="_userServices.userOnline.name">
              </div>
              <div class='form-group m-2'>
                <label class='p-1' for="password">Tu email</label>
                <input id="password" [(ngModel)]="_userServices.userOnline.email" type="text">
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button (click)='editUser()' class='btn btn-warning mt-3' type='submit'><strong>GUARDAR CAMBIOS</strong> </button>
              <button class='btn btn-warning mt-3' (click)='openPasswordModal()'><strong style='cursor: pointer;'>CAMBIAR
                  PASSWORD</strong></button>
            </div>
          </div>
        </div>
</div>

