<div class="row pagesContainerFixed animated fadeIn">
            <div class="col-12" style="height:20%">
                <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                        <div class="form-check">
                            <div class="d-flex flex-column">
                                <div>
                                    <!--
                                         <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                    -->
                                   
                                    <input #input0 type="text" placeholder=" De dd-mm-yyyy">
                                </div>
                                <div>
                                    <input #input1 type="text" placeholder="A dd-mm-yyyy">
                                </div>
                            </div>
                        </div>
                        <button (click)="generateChart()" class="btn btn-warning text-center">Generar gráfico</button>
                    </div>
                    <div class="col-6">
                        <div class="row btn btn-group">
                            <button (click)="changeSelection('payments')" [ngStyle]="{'opacity': buttonsStyle('payments')}" class="btn btn-warning">Liquidaciones</button>
                            <button (click)="changeSelection('incomes')" [ngStyle]="{'opacity': buttonsStyle('incomes')}" class="btn btn-warning">Ingresos</button>
                        </div>
                        <div class="row btn btn-group">
                            <button (click)="changeSelection('events')" [ngStyle]="{'opacity': buttonsStyle('events')}" class="btn btn-warning">Eventos</button>
                            <button (click)="changeSelection('projects')" [ngStyle]="{'opacity': buttonsStyle('projects')}" class="btn btn-warning">Proyectos</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-0 m-0"style="height:81%">
                 <app-projects-chart *ngIf="chartSelected === 'projects'"></app-projects-chart>
                <app-incomes-chart *ngIf="chartSelected === 'incomes'"></app-incomes-chart>
                <app-events-chart *ngIf="chartSelected === 'events'"></app-events-chart>
                <app-payments-chart *ngIf="chartSelected === 'payments'"></app-payments-chart>
            </div>
</div>
   