<div class="row pagesContainerFixed animated fadeIn">
            <div class="col-12 pt-2 pb-2" style="height:20%">
                <div class="row">
                    <div class="col-6 d-flex justify-content-center">
                        <div class="row d-flex justify-content-around">
                            <div class=" col-6 form-check">
                                <div class="d-flex flex-column">
                                    <div>
                                        <mat-form-field class="datePickerContainer" >
                                            <input matInput class="datePickerInput" [matDatepicker]="picker0" placeholder="Elige una fecha">
                                            <mat-datepicker-toggle class="datePickerToggle" matSuffix [for]="picker0"></mat-datepicker-toggle>
                                            <mat-datepicker  #picker0></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field class="datePickerContainer">
                                            <input matInput [matDatepicker]="picker1" placeholder="Elige una fecha">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker  #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 ml-2 d-flex flex-column justify-content-center">
                                <div>
                                  <button (click)="generateChart()" style="height:25px text-center" class="btn btn-warning highlight">Generar gráfico</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row btn btn-group">
                            <button (click)="changeSelection('payments')" [ngStyle]="{'opacity': buttonsStyle('payments')}" class="btn btn-warning highlight">LIQUIDACIONES</button>
                            <button (click)="changeSelection('incomes')" [ngStyle]="{'opacity': buttonsStyle('incomes')}" class="btn btn-warning highlight">INGRESOS</button>
                        </div>
                        <div class="row mt-2 d-flex justify-content-center">
                            <div class="col-12  flex-column d-flex justify-content-center">
                                <div class="form-check">
                                    <input (change)="chartByChange()" [(ngModel)]="chartBy" class="form-check-input" type="radio" name="chartBy" id="days"
                                        value="days">
                                    <label  class="form-check-label highlight" for="days">
                                        MOSTRAR GRÁFICO POR DÍAS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input (change)="chartByChange()" [(ngModel)]="chartBy" class="form-check-input" type="radio" name="chartBy" id="weeks"
                                        value="weeks">
                                    <label class="form-check-label highlight" for="weeks">
                                        MOSTRAR GRÁFICO POR SEMANAS
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-1 d-flex justify-content-end align-items-center animated shake">
                            <i (click)="_demoServices.graphsPopup(true)" class="fas fa-info fa-lg m-4" style='cursor:pointer;color:blue'></i>
                        </div>
                </div>
            </div>
            <div class="col-12 p-0 m-0"style="height:80%">
                <app-incomes-chart *ngIf="chartSelected === 'incomes'"></app-incomes-chart>
                <app-payments-chart *ngIf="chartSelected === 'payments'"></app-payments-chart>
            </div>
</div>
   