<div class="row m-1 animated fadeIn pagesContainerFixed">
    <div class="col-12">
        <div class='list-group' >
            <h5 class='list-group-item-heading text-center mt-3 highlight'>MATERIAS</h5>
            <button (click)='postSubject()' class='btn btn-warning m-2 highlight'>CREAR MATERIA</button>
            <div class="row card-group">
                <div *ngFor="let subject of _subjectServices.subjects" class="card" style='background:#F5F1E3'>
                    <div (click)='selectSubject(subject._id)' class="card-body d-flex justify-content-center">
                        <a>{{subject.name}}</a>
                    </div>
                </div>
            </div>
            <div *ngIf="_subjectServices.subjectSelected" class="row animated fadeIn">
                <div class="col-12">
                    <div class="card" style='background:#F5F1E3;border:1px solid #F0B841'>
                        <div class="card-header" style='background:white'>
                            <div class="row">
                                <div class="col-11">
                                    <h5 class='text-center'>{{_subjectServices.subjectSelected.name.toUpperCase()}}</h5>
                                </div>
                                <div class="col-1 d-flex justify-content-end">
                                    <button (click)='deleteSubject(_subjectServices.subjectSelected._id)' class='text-left m-2 btn btn-danger'><i class="far fa-trash-alt"></i></button>
                                    <button (click)='putSubject(_subjectServices.subjectSelected._id)' class='m-2 btn btn-primary'><i class="fas fa-edit"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class='d-flex justify-content-around'>
                                        <h6 class='text-center highlight'>PROFESORES</h6>
                                    </div>
                                    <div>
                                        <button (click)='addProfessor(_subjectServices.subjectSelected._id)' class='btn btn-block btn-warning'>Añadir</button>
                                    </div>
                                    <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize='40px' style="border:1px solid black;background:#F5F1E3">
                                        <table class='table'>
                                            <tr>
                                                <td class="row">
                                                    <div *cdkVirtualFor="let professor of _subjectServices.subjectSelected.professors" class='col-12 p-2 '>
                                                        <div class="row d-flex flex-row justify-content-around">
                                                            <div class='pr-2'><a>{{professor.indexcard['name']}}</a></div>
                                                            <div class='pl-5'><button (click)="_subjectServices.addOrDeleteProfessor(_subjectServices.subjectSelected._id,professor['_id']).subscribe()" class='btn btn-danger'>x</button></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </cdk-virtual-scroll-viewport>
                                </div>
                                <div class="col-6">
                                    <div>
                                        <h6 class='text-center highlight'>ALUMNOS</h6>
                                    </div>
                                    <div>
                                        <button (click)='addAlumni(_subjectServices.subjectSelected._id)' class='btn btn-block btn-warning'>Añadir</button>
                                    </div>
                                    <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize='40px' style="border:1px solid black;background:#F5F1E3">
                                        <table class='table' *ngIf="_subjectServices.subjectSelected.alumnis">
                                            <tr>
                                                <td class="row">
                                                    <div *cdkVirtualFor="let alumni of _subjectServices.subjectSelected.alumnis" class="col-12 pt-2">
                                                        <div class="row d-flex flex-row justify-content-around">
                                                            <div><a>{{alumni.indexcard['name']}}</a></div>
                                                            <div><button (click)="_subjectServices.addOrDeleteAlumni(_subjectServices.subjectSelected._id,alumni['_id']).subscribe()" class='btn btn-danger'>x</button></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </cdk-virtual-scroll-viewport>
                                </div>
                                <div class="col-12 mt-2">
                                    <strong>Información útil:</strong>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laboriosam excepturi corrupti natus dolorum quos ratione nostrum earum officiis, quae ipsam culpa libero ut illo beatae obcaecati necessitatibus officia
                                        neque.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
