<div class="container p-2" style='background:rgb(216, 200, 192)'>
    <div class='row'>
        <div class='col-12 d-flex justify-content-center'>
            <h4>MIS PROYECTOS</h4>
        </div>
        <div class='col-12 d-flex justify-content-center m-2 p-2'>
            <button (click)='newProject()' class='btn btn-warning'>CREAR NUEVO PROYECTO</button>
        </div>
        <div class="card-group d-flex justify-content-around">
            <div *ngFor=" let project of projects">
                <div class="p-2">
                    <div class='card'>
                        <div class="card-header text-center">{{project.nombre}}</div>
                        <img class='card-img-top' [src]="project.img | imgPipe" alt="" style='border: 1px solid black'>
                        <div class='card-body'>
                            <p class='card-text'>{{project.descripcion}}</p>
                            <div class='text-center'>
                                <button class='btn btn-warning'>IR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>