
.scrollableTable tbody {
     height: 120px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}


@media (min-height: 694px) {
 .scrollableTable tbody {
        height: calc(1.1*120px)
        
}
}

@media (min-height: 781px) {
 .scrollableTable tbody {
        height: calc(1.25*120px)
        
}
}

@media (min-height: 833px) {
  .scrollableTable tbody {
        height: calc(1.35*120px)
        
}
}

@media (min-height: 937px) {
 .scrollableTable tbody {
        height: calc(1.5*120px)
        
}
}

@media (min-height: 1250px) {
 .scrollableTable tbody {
        height: calc(2*120px)
        
}
}

@media (min-height: 1875px) {
   .scrollableTable tbody {
        height: calc(3*120px)
        
} 
}

@media (min-height: 2500px) {
 .scrollableTable tbody {
        height: calc(3.9*120px)
        
}
}