
.scrollableTable tbody {
     height: 120px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}


@media (min-width: 1700px) {
    .scrollableTable tbody {
        height:180px
        
}
}

@media (min-width: 3000px) {
    .scrollableTable tbody {
        height:520px
    }

    
}