.card {
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 13px
}

.card-body {
    height: 25px;
    padding: 0px;
    margin: 0px;
    border: none;
}

.card-group {
    margin: 0px;
    padding: 0px;
}

.day {
    cursor: pointer
}

.date {
    cursor: pointer;
}