.card {
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 13px
}

.card-body {
    height: 25px;
    padding: 0px;
    margin: 0px;
    border: none;
}

.card-group {
    margin: 0px;
    padding: 0px;
}

.day {
    cursor: pointer
}

.date {
    cursor: pointer;
}

.pagesContainerFixed{
border-right: 0px;
}


.scrollableTable tbody{
        height:200px;
        width: 100%;
} 

.facilitiesRow{
    height:47px;
}

 @media (min-height: 694px) {
 
    .printable{
        margin-top: 10px
    }
    
}

@media (min-height: 781px) {
 .scrollableTable tbody{
        height:calc(1.25*200px)
    } 
    .printable{
        margin-top: 15px
    }
    .facilitiesRow{
    height:calc(1.1*47px);
}  
}

@media (min-height: 937px) {
    .printable{
        margin-top: 50px
    }
}

@media (min-height: 1250px) {
 .scrollableTable tbody{
        height:calc(2*200px)
    } 
    .printable{
        margin-top: 20px
    }
     .facilitiesRow{
    height:calc(2*47px);
}
}

@media (min-height: 1875px) {
   .scrollableTable tbody{
        height:calc(3*200px)
    } 
    .printable{
        margin-top: 25px
    } 
     .facilitiesRow{
    height:calc(3*47px);
}
}

@media (min-height: 2500px) {
 .scrollableTable tbody{
        height:calc(3.5*200px)
    } 
    .printable{
        margin-top: 200px
    }
     .facilitiesRow{
    height:calc(3.5*47px);
}
}






 