<div *ngIf="!inProgress" class="row">
    <div class="col-5 p-0 ">
        <div class="row p-0 m-1">
            <div class="col-1">
            </div>
            <div class="col-10 card-group">
                <div *ngIf="calendarComponent.calendars[0] " (click)='toOtherWeek(calendarComponent.calendars[0]._id)' class="card">
                    <div class="card-body text-center">
                        {{calendarComponent.calendars[0].monday.date | date:'dd MM yy'}} - {{calendarComponent.calendars[0].sunday.date | date:'dd MM yy'}}
                    </div>
                </div>
                <div *ngIf="calendarComponent.calendars[1] " (click)='toOtherWeek(calendarComponent.calendars[1]._id)' class="card ">
                    <div class="card-body text-center ">
                        {{calendarComponent.calendars[1].monday.date | date:'dd MM yy'}} - {{calendarComponent.calendars[1].sunday.date | date:'dd MM yy'}}
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
    <div class="col-2 m-0 p-0 d-flex flex-column text-center ">
        <h4 *ngIf="calendarComponent.currentDate">{{calendarComponent.currentDate}}</h4>
        <button (click)='showCalendarModal()'><i class="fas fa-search "></i></button>

    </div>
    <div class="col-5 p-0 ">
        <div class="row p-0 m-1 ">
            <div class="col-1">
            </div>
            <div class="col-10 card-group ">
                <div *ngIf="calendarComponent.calendars[2] && calendarComponent.calendars[2]._id != calendarId " (click)='toOtherWeek(calendarComponent.calendars[2]._id)' class="card ">
                    <div class="card-body text-center ">

                        {{calendarComponent.calendars[2].monday.date | date:'dd MM yy'}} - {{calendarComponent.calendars[2].sunday.date | date:'dd MM yy'}}
                    </div>
                </div>
                <div *ngIf="calendarComponent.calendars[3] && calendarComponent.calendars[3]._id != calendarId " (click)='toOtherWeek(calendarComponent.calendars[3]._id)' class="card ">
                    <div class="card-body text-center ">
                        {{calendarComponent.calendars[3].monday.date | date:'dd MM yy'}} - {{calendarComponent.calendars[3].sunday.date | date:'dd MM yy'}}
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
</div>
<div *ngIf="calendarComponent.week" class="row card-group mt-3 ">
    <div *ngIf="calendarComponent.week[0].id !=currentDay " class="card ">
        <div (click)='toOtherDay(calendarComponent.week[0].id)' class="card-body ">
            <p class='text-center'>
                Lunes {{calendarComponent.week[0].date.getDate()}}
            </p>
        </div>
    </div>
    <div *ngIf="calendarComponent.week[1].id !=currentDay " class="card ">
        <div (click)='toOtherDay(calendarComponent.week[1].id)' class="card-body ">
            <p class='text-center'>
                Martes {{calendarComponent.week[1].date.getDate()}}
            </p>
        </div>
    </div>
    <div *ngIf="calendarComponent.week[2].id !=currentDay " class="card ">
        <div (click)='toOtherDay(calendarComponent.week[2].id)' class="card-body ">
            <p class='text-center'>
                Miércoles {{calendarComponent.week[2].date.getDate()}}
            </p>
        </div>
    </div>
    <div *ngIf="calendarComponent.week[3].id !=currentDay " class="card ">
        <div (click)='toOtherDay(calendarComponent.week[3].id)' class="card-body ">
            <p class='text-center'>
                Jueves {{calendarComponent.week[3].date.getDate()}}
            </p>
        </div>
    </div>
    <div *ngIf="calendarComponent.week[4].id !=currentDay " class="card ">
        <div (click)='toOtherDay(calendarComponent.week[4].id)' class="card-body ">
            <p class='text-center'>
                Viernes {{calendarComponent.week[4].date.getDate()}}
            </p>
        </div>
    </div>
    <div *ngIf="calendarComponent.week[5].id !=currentDay " class="card ">
        <div (click)='toOtherDay(calendarComponent.week[5].id)' class="card-body ">
            <p class='text-center'>
                Sábado {{calendarComponent.week[5].date.getDate()}}
            </p>
        </div>
    </div>
    <div *ngIf="calendarComponent.week[6].id !=currentDay " class="card ">
        <div (click)='toOtherDay(calendarComponent.week[6].id)' class="card-body ">
            <p class='text-center'>
                Domingo {{calendarComponent.week[6].date.getDate()}}
            </p>
        </div>
    </div>


</div>

<div *ngIf="calendarComponent.facilities " class="row mt-2 ml-5 mr-2 " style='height:30px; border:1px solid black'>
    <div class="col-1 p-0 m-0 bg-white "></div>
    <div class="col-11 d-flex flex-row card-group ">
        <div *ngFor="let facilitie of calendarComponent.facilities " class="card ">
            <div class="card-body text-center ">
                {{facilitie.nombre}}
            </div>
        </div>
    </div>
</div>
<div #calendarPlace class="row mr-2 ml-5 " style='border:1px solid black'>
    <div class="col-1 p-0 m-0 ">
        <div class="row d-flex flex-column card-group " style='height:720px'>
            <div class="card ">
                <div class="card-body pl-2 ">
                    8-9
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    9-10
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    10-11
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    11-12
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    12-13
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    13-14
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    14-15
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    15-16
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    16-17
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    17-18
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    18-19
                </div>
            </div>
            <div class="card ">
                <div class="card-body pl-2 ">
                    19-20
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="cardWidth" class="col-11 d-flex justify-content-around " style='height:720px'>
        <div *ngFor="let facilitie of calendarComponent.facilities " class="d-flex flex-column ">
            <app-event *ngIf="position >=0" [facilitie]='facilitie' [position]='0' [hour]="calendarComponent.hours[0] " [ngStyle]="{ 'width': cardWidth} "></app-event>
            <app-event *ngIf="position >=1" [facilitie]='facilitie' [position]='1' [hour]='calendarComponent.hours[1]'></app-event>
            <app-event *ngIf="position >=2" [facilitie]='facilitie' [position]='2' [hour]='calendarComponent.hours[2]'></app-event>
            <app-event *ngIf="position >=3" [facilitie]='facilitie' [position]='3' [hour]='calendarComponent.hours[3]'></app-event>
            <app-event *ngIf="position >=4" [facilitie]='facilitie' [position]='4' [hour]='calendarComponent.hours[4]'></app-event>
            <app-event *ngIf="position >=5" [facilitie]='facilitie' [position]='5' [hour]='calendarComponent.hours[5]'></app-event>
            <app-event *ngIf="position >=6" [facilitie]='facilitie' [position]='6' [hour]='calendarComponent.hours[6]'></app-event>
            <app-event *ngIf="position >=7" [facilitie]='facilitie' [position]='7' [hour]='calendarComponent.hours[7]'></app-event>
            <app-event *ngIf="position >=8" [facilitie]='facilitie' [position]='8' [hour]='calendarComponent.hours[8]'></app-event>
            <app-event *ngIf="position >=9" [facilitie]='facilitie' [position]='9' [hour]='calendarComponent.hours[9]'></app-event>
            <app-event *ngIf="position >=10" [facilitie]='facilitie' [position]='10' [hour]='calendarComponent.hours[10]'></app-event>
            <app-event *ngIf="position >=11" [facilitie]='facilitie' [position]='11' [hour]='calendarComponent.hours[11]'></app-event>
        </div>
    </div>
    <div #event></div>

</div>