<div class="row pt-2" style='background: white '>
    <div class='col-12 scroll-box' style='height:270px'>
        <div *ngFor="let message of messages" [ngClass]="{'text-right': message.user._id == userOnline._id }">
            <div><span [ngClass]="{'badge-primary': message.user._id == userOnline._id  , 'badge-success': message.user._id != userOnline._id  }">{{message.user.name}}</span></div>
            <div *ngIf="!message.file && message.img">
                <div class="col-12 p-2">
                    <img #img (click)='showImg(img)' [src]="message.img| imgPipe:'imagesProject'" alt="" style='height: 100px;width: 100px '>
                </div>
            </div>
            <div *ngIf="message.file">
                <div class="row p-2 d-flex flex-column" (click)='openFile(message.file)'>
                    <div class=""><img [src]="message.file|imgPipe" alt="" style='height: 100px;width: 100px '></div>
                    <div class=''><span><small >{{message.title}}</small></span></div>
                </div>
            </div>
            <div>
                <p *ngIf="message.message">{{message.message}}</p>
            </div>
            <div class='text-center'><span class='badge'>{{message.date|date:'medium'}}</span></div>
        </div>
    </div>
    <div (keyup.enter)='sendMessage(input.value)' class='input-group mt-3 d-flex flex-row ' style="border: 1px solid #DDD">
        <div *ngIf="temporaryImg" style='width:15%'>
            <img class='p-2 img-fluid' *ngIf="temporaryImg" [src]="temporaryImg | imgPipe" alt="">
        </div>
        <div *ngIf="fileTitle" class='d-flex flex-column' style='width:15%'>
            <img class='p-2 img-fluid' [src]="fileTitle | imgPipe" alt="">
            <span style='width: 90px '> <small>{{fileTitle}}</small></span>
        </div>
        <div class="" [ngStyle]="{'width': temporaryImg || fileTitle ? '85%' : '100%' }">
            <textarea #input [(ngModel)]="message" class='form-control ' value="" placeholder="Send Message" style="border: none"></textarea>
        </div>
    </div>
    <div class='input-group d-flex justify-content-around mt-2 '>
        <div>
            <button class='btn btn-warning '><i class="fas fa-smile-beam"></i></button>
        </div>
        <div>
            <label class="uploadBtnWrap bg-warning" for="thefile">
                    <input class='' type="file" id="thefile" (change)=' selectFile($event.target.files[0]) ' />
                    <span class="btn">COMPARTIR ARCHIVO</span>
                </label>
        </div>
    </div>
</div>