<div class='backgroundBlack animated fadeIn' [ngClass]="_modalController.hidden">
    <div class="modal" style='display: block' tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="hideModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="_modalController.type === 'admin'" class="row d-flex justify-content-center">
                        <div class="col-6 d-flex flex-row">
                            <div>
                                <p>Administradores:</p>
                            </div>
                            <table style="width:100%">
                                <tr *ngFor="let user of admins">
                                    <th *ngIf="user._id != _userServices.userOnline._id">{{user['name']}}</th>
                                    <th *ngIf="user._id === _userServices.userOnline._id">tú</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="_modalController.type === 'participant'" class="row d-flex justify-content-center">
                        <div class="col-6 d-flex flex-row">
                            <div>
                                <p>Participantes:</p>
                            </div>
                            <table style="width:100%">
                                <tr *ngFor="let user of participants">
                                    <th *ngIf="user._id != _userServices.userOnline._id">{{user['name']}}</th>
                                    <th *ngIf="user._id === _userServices.userOnline._id">tú</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class='row mt-2'>
                        <div *ngIf="_userServices.users" class='col d-flex justify-content-center mt-1'>
                            <div class="col-6 d-flex flex-row">
                                <div>
                                    <p *ngIf="_modalController.type === 'participant'">Usuarios no participantes:</p>
                                    <p *ngIf="_modalController.type === 'admin'">Usuarios no admnistradores:</p>
                                </div>
                                <table style="width:100%">
                                    <tr *ngFor="let user of _userServices.users">
                                        <th>{{user.name}}</th>
                                        <th> <a class='btn btn-warning' (click)='addUser(user._id)'>+</a> </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>