.user {
    background: #1F0968;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}


.projectBottomFrame{
    height:500px
}

@media (min-width: 1700px) {

    .projectBottomFrame{
    height:600px
}
  
}

@media (min-width: 2250px) {

    .projectBottomFrame{
    height:1000px
}
}



@media (min-width: 2800px) {
     .projectBottomFrame{
    height:1000px
}
}


@media (min-width: 3000px) {
     .projectBottomFrame{
    height:1300px
}
    
}
 