.lateral_bar {
    background: black;
    color: white;
    width: 180px;
    height: 900px;
    padding: 0
}

.lateral_bar a {
    color: white
}

.lateral_bar .logo {
    margin-bottom: 2px
}

.lateral_bar img {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.lateral_bar .menu a {
    display: block;
    padding: 20px
}

.lateral_bar .menu .footer {
    background: black;
    height: 22px;
    display: block;
    padding: 20px
}

.lateral_bar .menu a:hover {
    background: #B03F0E;
    text-decoration: none
}