.lateral_bar {
    background: black;
    color: white;
    width: 100%;
    height: 820px;
    padding: 0;
    margin:0;
}

.lateral_bar a {
    color: white;
    cursor: pointer
}

.lateral_bar .data a {
    color: black;
    cursor: pointer
}

.lateral_bar .data i {
    color: black;
    cursor: pointer
}

.lateral_bar .logo {
    margin-bottom: 2px
}

.lateral_bar img {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.lateral_bar .menu a {
    display: block;
    padding: 20px;
}

.lateral_bar .menu .footer {
    background: black;
    height: 22px;
    display: block;
    padding: 20px
}

.lateral_bar .menu a:hover {
    background: #F0B841;
    color: black;
    text-decoration: none
}

.lateral_bar .menu .data a:hover {
    background: black;
    color: white;
    text-decoration: none;
}
