.lateral_bar {
    background: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
}

.lateral_bar a {
    color: white;
    cursor: pointer
}

.lateral_bar .data a {
    color: black;
    cursor: pointer
}

.lateral_bar .data i {
    color: black;
    cursor: pointer
}

.lateral_bar .logo {
    margin-bottom: 2px
}

.lateral_bar .menu a:hover {
    background: #F0B841;
    color: black;
    text-decoration: none
}

.lateral_bar .menu .data a:hover {
    background: black;
    color: white;
    text-decoration: none;
}


.lateral_bar img {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.lateral_bar .menu a {
    display: block;
    padding: 20px;
}

span {
    font-size: 16px;
}


@media (min-height: 694px) {
     .lateral_bar .menu a {
    padding: calc(1.10*20px);
}
.lateral_bar img {
    width: calc(1.10*100px);
    height: calc(1.10*100px);
    padding: calc(1.10*10px);
}
span {
    font-size: calc(1.1*16px);
}

}

@media (min-height: 781px) {
     .lateral_bar .menu a {
    padding: calc(1.25*20px);
}
.lateral_bar img {
    width: calc(1.25*100px);
    height: calc(1.25*100px);
    padding: calc(1.25*10px);
}
span {
    font-size: calc(1.25*16px);
}
 
}

@media (min-height: 833px) {
     .lateral_bar .menu a {
    padding: calc(1.35*20px);
}
.lateral_bar img {
    width: calc(1.35*100px);
    height: calc(1.35*100px);
    padding: calc(1.35*10px);
}
span {
    font-size: calc(1.35*16px);
}
 
}

@media (min-height: 937px) {
  .lateral_bar .menu a {
    padding: calc(1.50*20px);
}
.lateral_bar img {
    width: calc(1.50*100px);
    height: calc(1.50*100px);
    padding: calc(1.50*10px);
}
span {
    font-size: calc(1.5*16px);
}
}

@media (min-height: 1250px) {
  .lateral_bar .menu a {
    padding: calc(2*20px);
}
.lateral_bar img {
    width: calc(2*100px);
    height: calc(2*100px);
    padding: calc(2*10px);
}
span {
    font-size: calc(2*16px);
}
}

@media (min-height: 1875px) {
     .lateral_bar .menu a {
    padding: calc(2.90*20px);
}
.lateral_bar img {
    width: calc(2.90*100px);
    height: calc(2.90*100px);
    padding: calc(2.90*10px);
}
span {
    font-size: calc(3*16px);
}
}

@media (min-height: 2500px) {
  .lateral_bar .menu a {
    padding: calc(3.90*20px);
}
.lateral_bar img {
    width: calc(3.90*100px);
    height: calc(3.90*100px);
    padding: calc(3.90*10px);
}
span {
    font-size: calc(3.9*16px);
}
}

