<div class="lateral_bar col-md-12 col-sm-auto">
    <div class="logo text-center">
        <img [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class='img-fluid' src="../../assets/cargo.jpg" alt="">
    </div>
    <nav class='menu d-flex d-sm-block justify-content-center text-center flex-column flex-md-row '>

        <a [routerLink]="['/profile']" routerLinkActive="router-link-active"><i class="fas fa-user-circle m-1"></i><span>MI PERFIL</span></a>
        <a (click)='toLastWeek()' routerLinkActive="router-link-active"><i class="far fa-calendar-alt m-1"></i><span>MI CALENDARIO</span></a>
        <a [routerLink]="['/projects']" routerLinkActive="router-link-active"><i class="fas fa-project-diagram m-1"></i><span>MIS PROYECTOS</span></a>
        <div class="nav-item dropdown">
            <a href="" class='nav-link dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup="true" aria-expanded="false">
                <i class="far fa-address-book m-1"></i> <span>AGENDA</span>
            </a>
            <div class="dropdown-menu" style='background:#D77040'>
                <div class='d-flex justify-content-end flex-column'>
                    <a class='dropdown-item' [routerLink]="['/addressBook','alumnis']" routerLinkActive="router-link-active" href="">ALUMNOS</a>
                    <a class='dropdown-item' [routerLink]="['/addressBook','professors']" routerLinkActive="router-link-active">PROFESORES</a>
                </div>
            </div>
        </div>
        <a [routerLink]="['/users']" routerLinkActive="router-link-active" href=" "><i class="fas fa-id-card m-1"></i><span>USUARIOS</span></a>
        <a [routerLink]="['/facilities']" routerLinkActive="router-link-active" href=" "><i class="fas fa-door-open m-1"></i><span>INSTALACIONES</span></a>
        <a [routerLink]="['/addressBook','subjects']" routerLinkActive="router-link-active" href=" "><i class="fas fa-guitar"></i><span>MATERIAS</span></a>
        <a (click)='_userServices.logout()' routerLinkActive='active'><i class="fas fa-sign-out-alt m-1"></i><span  style='cursor: pointer'>SALIR</span></a>
    </nav>
</div>