<div class='backgroundBlack animated fadeIn' [ngClass]="_modalController.hidden">
    <div class="modal" style='display: block' tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="hideModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form ngNativeValidate *ngIf="form" [formGroup]='form' id="loginform">
                        <div *ngIf="_userServices.users.length > 0 && role ==='ARTIST'" class="form-group mb-2">
                            <span>Puedes asignar el registro a un usuario del sistema</span>
                            <select formControlName='user' name="user" class='form-control'>
                                <option *ngFor="let user of _userServices.users" [value]="user._id">{{user.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input formControlName='name' name='name' type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group ">
                            <input formControlName='surname' name='surname' type="text" class="form-control " placeholder="Apellido">
                        </div>
                        <div class="form-group ">
                            <input formControlName='email' name='email' type="email" class="form-control " placeholder="Email">
                        </div>
                        <div class="form-group ">
                            <input formControlName='mobile' name='mobile' type="text" class="form-control" placeholder="mobile">
                        </div>
                        <div class="form-group ">
                            <input formControlName='home' name='home' type="text" class="form-control " placeholder="Teléfono Fijo">
                        </div>
                        <div class="form-group ">
                            <input formControlName='address' name='address' type="text" class="form-control" placeholder="Domicilio">
                        </div>
                        <div class='d-flex justify-content-center'>
                            <button *ngIf="creation" (click)='postIndexcard()' type="submit" class="btn btn-primary">CREAR</button>
                            <button *ngIf="edition" (click)='putIndexcard()' type="button" class="btn btn-primary "> GUARDAR CAMBIOS</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>