<div class='backgroundBlack animated fadeIn' [ngClass]="_modalService.hidden">
  <div class="modal" style='display: block' tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crea las liquidaciones para el ingreso</h5>
          <button (click)="hideModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="income && page === '1'" class="row">
            <div class="col-12 d-flex justify-content-center">
              <p>
              Cantidad por liquidar :{{income.notLiquidatedAmount}} euros
              </p>
            </div>
            <div class="col-12">
            <label for='amountToLiquidate' >Selecciona una cantidad para liquidar</label>
              <input #assignation id="amountToLiquidate" type="number"[max]="income.notLiquidatedAmount"min="0">
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button (click)="setAmountAssigned(assignation.value)" class="btn btn-warning" >NEXT</button>
            </div>
          </div>
          <div *ngIf="page === '2'" class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <span>*Asigna la cantidad a liquidar a un track, puedes buscar directamente el track o buscar por album*</span>
                </div>
                <div class="col-12 d-flex justify-content-around">
                  <button class="btn btn-warning" [ngStyle]="{'opacity':buttonsStyles('track')}" (click)="searchBy = 'track'" >BUSCAR TRACK</button>
                  <button class="btn btn-warning" [ngStyle]="{'opacity':buttonsStyles('album')}" (click)="searchBy = 'album'" >BUSCAR ALBUM</button>
                </div>
                <div class="col-12 d-flex justify-content-center mt-1">
                  <input #selection type="text">
                  <button class="btn btn-warning" (click)='searchTrack(selection.value)'>BUSCAR</button>
                </div>
                <div *ngIf="_managerServices.albums.length > 0" class="col-12 d-flex justify-content-center">
                  <table>
                    <thead>
                      <th></th>
                      <th>Selecciona track</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let album of _managerServices.albums let i = index">
                        <td>{{album.title}}</td>
                        <select (change)="showAssignations()" class='mt-1' [(ngModel)]='trackSelected' name="" id="">
                          <option  *ngFor="let track of album.tracks let i = index" [value]="track._id">
                            {{track.title}}
                          </option>
                        </select>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="_managerServices.tracks.length > 0" class="col-12 d-flex justify-content-center">
                    <select (change)="showAssignations()" class='mt-1' [(ngModel)]='trackSelected' name="" id="">
                      <option  *ngFor=" let track of _managerServices.tracks" [value]="track._id">{{track.title}}</option>
                    </select>
                </div>
                <div *ngIf="cargoAssignation" class="col-12 mt-1">
                  <div class="row">
                    <div class="col-4">ASIGNADO A CARGO</div>
                    <div class="col-4">{{cargoAssignation.percent}}%</div>
                    <div class="col-4">{{(cargoAssignation.percent/100)*amountAssigned}} euros</div>
                  </div>
                  <table class="table">
                    <thead>
                      <th>Artista</th>
                      <th>Porcentaje asignado</th>
                      <th>Cantidad asignada</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let assignation of assignations" >
                        <td>{{assignation.artist.indexcard.name}}</td>
                        <td>{{assignation.percent}}%</td>
                        <td>{{(assignation.percent/100)*amountAssigned}} euros</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div  class="col-12 mt-1 d-flex justify-content-around">
                  <button (click)="pageBack()" class="btn btn-warning">PREV</button>
                  <button (click)="generatePayments()" *ngIf="trackSelected" class="btn btn-warning">CREAR LIQUIDACIONES</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="page === '3' && _paymentService.payments.length >0" class="row">
            <div class="col-12">
              <h3>Liquidaciones generadas</h3>
            </div>
            <div class="col-12">
              <table class="table">
                <thead>
                  <th>Cantidad</th>
                  <th>Artista</th>
                </thead>
                <tbody>
                  <tr *ngFor="let payment of _paymentService.payments let i =index">
                    <td>{{payment.amount}}</td>
                    <td>{{payment.artist.indexcard.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button class="btn btn-warning" (click)='hideModal()'>OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
