<div class="row">
    <div class="col-12">
        <div class='list-group'>
            <h3 class='list-group-item-heading text-center mt-3'>MANTENIMIENTO DE PROFESORES</h3>
            <input #input placeholder="Buscar profesor" class='pb-2 mt-2' type="text" name="" id="">
            <button class='btn btn-warning mb-2' (click)='searchProfessors(input.value)'>BUSCAR PROFESORES</button>
            <button (click)='openIndexCardModal()' class='btn btn-warning m-2'>CREAR PROFESOR</button>
            <div *ngIf="!cargando" class="row animated fadeIn">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class='table table-hover'>
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Materias</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let professor of  professors let i=index">
                                    <tr>
                                        <td>
                                            <div><strong> {{professor.nombre}}</strong></div>
                                        </td>
                                        <td>
                                            <div class="list-group" *ngFor="let subject of professors[i].materias">
                                                <div class="row d-flex">
                                                    <div class='col-10'>
                                                        <a class="list-group-item list-group-item-action">{{subject.nombre}}</a>
                                                    </div>
                                                    <div class='col-2'>
                                                        <button (click)='deleteSubject(professor._id,subject._id)' class='btn btn-warning m-2'>X</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='text-center'>
                                                <button (click)=' openSubjectsModal(professor)' class='btn btn-warning m-2 '>Añadir materia</button>
                                            </div>
                                        </td>
                                        <td>
                                            <button (click)='openIndexCardModal(professor.ficha)' class="btn btn-primary">
                        <i class="fa fa-info"></i>
                      </button>
                                            <button (click)='deleteProfessor(professor._id)' class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                      </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class='d-flex justify-content-around'>
                                <button (click)='changeFrom(-5)' class='btn btn-secondary'>Previous</button>
                                <button (click)='changeFrom(5)' class='btn btn-secondary'>Following</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='w-100'></div>
</div>