<div class="row m-2" style='background:#DCD4D2'>
    <div class='col-12 list-group'>
        <h3 class='list-group-item-heading text-center mt-3'>ALUMNOS</h3>
        <input #input placeholder="Buscar alumno" class='pb-2 mt-2' type="text" name="" id="">
        <div class='d-flex justify-content-center'>
            <button class='btn btn-warning mb-2' (click)='_alumniServices.searchAlumnis(input.value,0).subscribe();searchMode = true;from =0;getMode=false;alumnis=[]'>BUSCAR
                ALUMNOS</button>
            <button (click)='from=0;searchMode=false;getMode=true;_alumniServices.getAlumnis().subscribe();alumnis=[]' class='btn btn-warning mb-2'>TODOS</button>
        </div>
        <button (click)='postAlumni()' class='btn btn-warning m-2'>CREAR ALUMNO</button>
    </div>
    <div *ngIf="!cargando" class="col-12 animated fadeIn" style='background:#DCD4D2;width:1000px'>
        <table class=' table mb-2 ' style='background:#F5F1E3;border:1px solid #F0B841 '>
            <tr>
                <th>Nombre</th>
                <th style='width:50% '>Materias</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let alumni of _alumniServices.alumnis  let i=index">
                <td>
                    <div><strong> {{alumni.name}}</strong></div>
                </td>
                <td style='width: 40% '>
                    <div class='scrollable ' style="height:80px;border:1px solid black;background:#F5F1E3">
                        <div class="d-flex justify-content-around" *ngFor="let subject of _alumniServices.alumnis[i].subjects">
                            <a class="list-group-item list-group-item-action">{{subject.name}}</a>
                            <button (click)="_subjectServices.addOrDeleteAlumni(subject._id,alumni._id).subscribe()" class='btn btn-warning m-2 '>X</button>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <button (click)=' addSubject(alumni._id) ' class='btn btn-warning m-2 '>Añadir materia</button>
                    </div>
                </td>
                <td>
                    <div class='btn-group d-flex justify-content-end '>
                        <button (click)='putAlumni(alumni.indexcard) ' class="btn btn-primary text-center">
                                                <i class="fa fa-info"></i>
                                            </button>
                        <button (click)='deleteAlumni(alumni._id) ' class="btn btn-danger text-center">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                    </div>
                </td>
            </tr>
        </table>
        <div class='d-flex justify-content-around mb-2 '>
            <button *ngIf="from && from > 0" (click)='changeFrom(-5) ' class='btn btn-secondary '>Previous</button>
            <button *ngIf="_alumniServices.count > from+5" (click)='changeFrom(5) ' class='btn btn-secondary '>Following</button>
        </div>
    </div>
</div>