<div *ngIf="file" class='animated fadeIn'>
    <div class="modal"  style='display:flex' role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"  >
                <div class="modal-header">
                    <button (click)="hideModal()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="file"  class="modal-body">
                    <div *ngIf="textFormats.indexOf(file.format)>=0">
                        <span class='text-center' *ngIf="progress!== 100 ">Archivo cargandose...</span>
                        <span class='text-center' *ngIf="progress ===100">Carga completada</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progress + '%' }"></div>
                        </div>
                        <div *ngIf="file.format === 'pdf'">
                            <div class="scroll-box">
                                <pdf-viewer #myPdf  class="myPdf"  [src]="file | filesPipe" [render-text]="true" style="display:flex;" [autoresize]="true" [original-size]="false" (page-rendered)="pageRendered($event)" (after-load-complete)="pdfLoaded($event)">
                                </pdf-viewer>
                            </div>
                            <p>{{file.title}}</p>
                           <!--
<button *ngIf="file && progress === 100 && file.download" (click)='downloadFile(myPdf.src)' type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                      <i class='fa fa-save '></i>
                      Descargar pdf</button>
                           -->
                        </div>
                    </div>
                    <div *ngIf="imgFormats.indexOf(file.format)>=0" class='d-flex flex-column'>
                        <div class='d-flex justify-content-center'>
                            <img  #myImg [src]="file | imgPipe" class='text-center myImg' style='cursor: pointer'>
                        </div>
                        <p>{{file.title}}</p>
                    <!--
                        <button *ngIf="file.download" (click)='downloadFile(myImg.src)' type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                            <i class='fa fa-save '></i>
                            Descargar archivo</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>