<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <img class='img-fluid p-5' [src]="'cargo2.jpg' | frontImg" alt="">
        </div>
        <div class="col-4 mt-5">
            <div class="row text-center">
                <div class="col-9">
                    <h3 class="panel-title">Logéate</h3>
                </div>
                <div class="col-2 d-flex justify-content-end mt-2">
                    <i style="color:#F0B841;cursor:pointer" (click)="_demoService.loginPopup(true)" class="fas fa-info"></i>
                </div>
                <div class="panel-body col-12 mt-2">
                    <form ngNativeValidate #form='ngForm' role="form" (ngSubmit)='login(form)'>
                        <fieldset>
                            <div class="form-group">
                                <input [(ngModel)]="email" name='email' class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
                            </div>
                            <div class="form-group">
                                <input ngModel name='password' class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input [(ngModel)]="rememberMe"  name="rememberMe" type="checkbox" value="rememberMe">Remember
                                    Me
                                </label>
                            </div>
                            <br>
                            <br>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class='btn btn-lg btn-warning btn-block' type='submit'><strong>LOGIN</strong></button>
                            <br>
                            <div class='row d-flex justify-content-around'>
                                <a routerLink='/register'>Registrarse</a>
                                <a (click)="_recoveringController.showModal('forgot')" routerLinkActive="router-link-active">¿Olvidaste tu contraseña?</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style='position: relative; z-index:0'>
        <app-forgot></app-forgot>
        <app-reset></app-reset>
    </div>
</div>
