<div class='animated fadeIn' [ngClass]="_modalController.hidden">
    <div class="modal " style='display: block' tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button (click)="hideModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body text-center d-flex flex-row">
                    <div *ngFor="let image of images" class='col-4'>
                        <img #img [src]=" image | imgPipe:'imgProyectos'" class='img-fluid' style='cursor: pointer'>
                        <button (click)='downloadImg(img.src)' class='btn btn-warning btn-block'>Descargar archivo</button>
                    </div>
                </div>
                <div class="modal-body text-center d-flex flex-column">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6 mb-3">
                            <div class="card" style='border: none'>
                                <div class="card-body">
                                    <img *ngIf="image" [src]="image" class='img-fluid' style='cursor: pointer'>
                                </div>
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                    <div class="">
                        <button (click)='downloadImg()' type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                            <i class='fa fa-save '></i>
                            Descargar archivo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>