<div class='backgroundBlack animated fadeIn' [ngClass]="_modalController.hidden">
    <div *ngIf="track" class="modal" style='display: block' tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center"></h5>
                    <button (click)="hideModal()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class='row d-flex justify-content-around mb-2'>
                            <div class='row d-flex justify-content-center'>
                                <input [(ngModel)]="track.title" name='trackTitle' type="text" placeholder="Título nuevo track">
                            </div>
                        </div>
                        <div class='row d-flex flex-column m-1'>
                            <hr>
                            <h5 class='text-center'>ASIGNACIONES</h5>
                            <div *ngFor="let assignation of track.assignations" class='d-flex justify-content-between'>
                                <p *ngIf="assignation.artist['indexcard']">{{assignation.artist['indexcard']['name']}}</p>
                                <p>% asignado :{{assignation.percent}}</p>
                                <button (click)="removeAssignation(assignation.artist['_id'])" class='btn btn-danger'>x</button>
                            </div>
                            <hr>
                        </div>
                        <div class='row justify-content-around'>
                            <div>
                                <button (click)='newAssignation()' class='btn btn-warning'>Nueva asignación</button>
                            </div>
                            <div>
                                <p>ASIGNACIÓN CARGO:{{track.percent}}%</p>
                            </div>
                        </div>
                        <div  *ngIf="assignation">
                            <div class='row m-1'>
                                <div class="col-10">
                                        <div class="row d-flex justify-content-between">
                                            <div class="d-flex flex-column">
                                                <label for="artistChosen">Selecciona un artista</label>
                                                <select [(ngModel)]='assignation.artist' name="artist" class='form-control' id="artistChosen">
                                                    <option *ngFor="let artist of artists" [value]="artist._id">{{artist['indexcard'].name}}</option>
                                                </select>
                                            </div>
                                            <div class="d-flex flex-column">
                                              <label for="percentAssigned">Indica un porcentaje de asignación</label>
                                              <input #input [(ngModel)]="assignation.percent" type="number" [max]='track.percent' name="assignationPercent" id="percentAssigned">
                                            </div>
                                        </div>
                                </div>
                                <div class="col-2 d-flex flex-column justify-content-center">
                                    <button class="btn btn-warning" (click)='postAssignation()'><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class='row d-flex justify-content-center mt-2'>
                            <button (click)='postTrack()' class='btn btn-warning' *ngIf="!_modalController.id">CREAR TRACK</button>
                            <button (click)='putTrack()' class='btn btn-warning' *ngIf="_modalController.id">GUARDAR CAMBIOS</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
