<div class="row animated fadeIn pagesContainerFixed">
    <div class="col-12" *ngIf="!_projectServices.projectSelectedId">
        <div class="row d-flex justify-content-center">
            <div class="col-12 d-flex justify-content-end animated shake">
                <i class="fas fa-info m-4"  (click)="_demoServices.projectsPopup(true)" style='color:blue'></i>
            </div>
            <div class=' col-12 d-flex justify-content-center mt-3'>
                <h4>MIS PROYECTOS</h4>
            </div>
            <div  class='col-12 d-flex justify-content-center m-2 p-2 '>
                <button appRole (click)='newProject() ' class='btn btn-warning '>CREAR NUEVO PROYECTO</button>
            </div>
                <div *ngIf="_projectServices.projects.length > 0 " class='scrollable' style="border:1px solid black;background:#F5F1E3">
                    <div *ngFor="let project of _projectServices.projects">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-12 d-flex justify-content-center">
                                    <p>
                                        <a (click)='toProject(project._id) '>
                                            <p style='color:blue '>Navegar a {{project.name}}</p>
                                        </a>
                                    </p>
                                </div>
                                <div class="col-12 justify-content-center">
                                    <p>{{project.description}}</p>
                                </div>
                                <div class="col-12 justify-content-center">
                                    <button  (click)='changeProjectStatus(project._id) ' class='btn btn-warning '>Activar</button>
                                    <button appProjectRole (click)='changeProjectStatus(project._id) ' class='btn btn-warning '>Desactivar</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
