.scrollable{
    height:350px
}

.projectName{
  font-size:20px
}

@media (min-height: 694px) {
 .scrollable{
    height:calc(1.1*350px)
}
.projectName{
  font-size:calc(1.1*20px)
}
}

@media (min-height: 781px) {
  .scrollable{
    height:calc(1.25*350px)
}
.projectName{
  font-size:calc(1.25*20px)
}
}

@media (min-height: 833px) {
  .scrollable{
    height:calc(1.35*350px)
}
.projectName{
  font-size:calc(1.35*20px)
}
}

@media (min-height: 937px) {
  .scrollable{
    height:calc(1.5*350px)
}
.projectName{
  font-size:calc(1.5*20px)
}
}

@media (min-height: 1250px) {
  .scrollable{
    height:calc(2*350px)
}
.projectName{
  font-size:calc(2*20px)
}
}

@media (min-height: 1875px) {
   .scrollable{
    height:calc(3*350px)
}
.projectName{
  font-size:calc(3*20px)
}
}

@media (min-height: 2500px) {
  .scrollable{
    height:calc(3.9*350px)
}
.projectName{
  font-size:calc(3.9*20px)
}
}