<div class="row m-1 animated fadeIn" style='background:#DCD4D2;height:750px;width:1150px;border:1px solid black'>
    <div class="col-12" *ngIf="!_projectServices.projectSelectedId">
        <div class="row d-flex justify-content-center">
            <div class="col-12 m-0 p-0 d-flex justify-content-end">
                <button class="btn btn-warning" style='cursor:pointer' (click)="_demoServices.projectsPopup(true)"><i class="fas fa-info" style='color:blue'></i></button>
            </div>
            <div class=' col-12 d-flex justify-content-center mt-3'>
                <h4>MIS PROYECTOS</h4>
            </div>
            <div *ngIf="_userServices.checkRole()" class='col-12 d-flex justify-content-center m-2 p-2 '>
                <button (click)='newProject() ' class='btn btn-warning '>CREAR NUEVO PROYECTO</button>
            </div>
            <div *ngIf="_projectServices.projects.length > 0 " class="col-12" style='height:500px;background:#DCD4D2;width:900px '>
                <div class='scrollable ' style="height:500px;border:1px solid black;background:#F5F1E3">
                    <div *ngFor="let project of _projectServices.projects">
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-12 d-flex justify-content-center">
                                    <p>
                                        <a (click)='toProject(project._id) '>
                                            <p style='color:blue '>Navegar a {{project.name}}</p>
                                        </a>
                                    </p>
                                </div>
                                <div class="col-12 justify-content-center">
                                    <p>{{project.description}}</p>
                                </div>
                                <div class="col-12 justify-content-center">
                                    <button *ngIf="!project.status && _projectServices.checkAdmin(project._id)" (click)='changeProjectStatus(project._id) ' class='btn btn-warning '>Activar</button>
                                    <button *ngIf="project.status && _projectServices.checkAdmin(project._id)" (click)='changeProjectStatus(project._id) ' class='btn btn-warning '>Desactivar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>