.scrollableTable tbody {
     height: 320px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}


@media (min-width: 1700px) {
    .scrollableTable tbody {
        height:440px
    }

    
}
@media (min-width: 2200px) {

   .scrollableTable tbody {
       height:750px
   }
}
 