<div class="row m-2 " style="width:100%;height: 100%">
  <div class="col-12 p-0">
    <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h3>Ingresos liquidados</h3>
    </div>
    <div class="col-12">
      <table  class='table scrollableTable mb-0' style='background: #F5F1E3'>
        <thead  class='mr-4 d-flex justify-content-around'>
          <th style="width:20%">Origen</th>
          <th style="width:20%" >Cantidad</th>
          <th style="width:60%">Liquidaciones</th>
        </thead>
        <tbody  #tbody style='width:100%'>
          <tr class="d-flex justify-content-around" *ngFor="let income of _incomeServices.incomesLiquidated let i=index">
            <td style="width:20%">{{income.debitor.name}}</td>
            <td style="width:20%">{{income.liquidatedAmount}}</td>
            <td style="width:60%">
              <table class='table scrollableTable' style='height:100px;width:100%'>
                <thead class="d-flex justify-content-around">
                  <th class='p-1' style="width:20%">Fecha</th>
                  <th class='p-1' style="width:20%">Importe</th>
                  <th class="p-1" style="width:20%">Artista</th>
                  <th class='p-1' style="width:40%">ID</th>
                </thead>
                <tbody style='height:70px'>
                  <tr *ngFor='let payment of _incomeServices.incomesLiquidated[i].payments' class="d-flex justify-content-around" style="width:100%">
                    <td style="width:20%">{{payment.date | date}}</td>
                    <td style="width:20%">{{payment.amount}}</td>
                    <td style="width:20%">{{payment.artist.indexcard['name']}}</td>
                    <td style="width:40%">{{payment._id}}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <hr>
        <div class="row m-3" style='background:#F5F1E3;'>
          <div class="col-2"></div>
          <div class="col-8 d-flex justify-content-around">
            <button (click)="switch(-5)" *ngIf="_incomeServices.fromIL > 0" class="btn btn-warning">PREV</button>
            <button (click)="switch(5)" *ngIf="_incomeServices.fromIL + 5 <=  _incomeServices.iLCount  "  class="btn btn-warning">NEXT</button>
          </div>
          <div class="col-2"></div>
        </div>
      </table>
    </div>
    </div>
  </div>
</div>  