<div class='backgroundBlack animated fadeIn' [ngClass]="_modalController.hidden">
    <div class="modal" style='display: block' tabindex="-1" role="dialog" [ngClass]="_modalController.hidden">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button (click)='hideModal()' type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="firstDate" class='row d-flex justify-content-between'>
                        <button (click)='switchYear(-1)'>PREV</button>
                        <h4>{{firstDate.getFullYear()}}</h4>
                        <button (click)='switchYear(1)'>NEXT</button>
                    </div>
                    <div *ngIf="month" class='row d-flex justify-content-around'>
                        <button (click)='switchMonth(-1)'>PREV</button>
                        <h5>{{month}}</h5>
                        <button (click)='switchMonth(1)'>NEXT</button>
                    </div>
                    <div *ngIf="frame && frame.length >= 33" class='row'>
                        <div class="col-12">
                            <div class="row d-flex flex-row justify-content-between card-group">
                                <div class="card">
                                    <div class="card-body">
                                        Lunes
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        Martes
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        Miércoles
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        Jueves
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        Viernes
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        Sábado
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        Domingo
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row d-flex card-group">
                                        <div class="card">
                                            <div class="card-body">
                                                <a (click)='navigateToDay(frame[0])'>{{frame[0].getDate()}}</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <a (click)='navigateToDay(frame[1])'>{{frame[1].getDate()}}</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <a (click)='navigateToDay(frame[2])'>{{frame[2].getDate()}}</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <a (click)='navigateToDay(frame[3])'>{{frame[3].getDate()}}</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <a (click)='navigateToDay(frame[4])'>{{frame[4].getDate()}}</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <a (click)='navigateToDay(frame[5])'>{{frame[5].getDate()}}</a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-body">
                                                <a (click)='navigateToDay(frame[6])'>{{frame[6].getDate()}}</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row d-flex card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[7])'>{{frame[7].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[8])'>{{frame[8].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[9])'>{{frame[9].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[10])'>{{frame[10].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[11])'>{{frame[11].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[12])'>{{frame[12].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[13])'>{{frame[13].getDate()}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[14])'>{{frame[14].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[15])'>{{frame[15].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[16])'>{{frame[16].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[17])'>{{frame[17].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[18])'>{{frame[18].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[19])'>{{frame[19].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[20])'>{{frame[20].getDate()}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[21])'>{{frame[21].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[22])'>{{frame[22].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[23])'>{{frame[23].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[24])'>{{frame[24].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[25])'>{{frame[25].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[26])'>{{frame[26].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[27])'>{{frame[27].getDate()}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex card-group">
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[28])'>{{frame[28].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[29])'>{{frame[29].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[30])'>{{frame[30].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[31])'>{{frame[31].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[32])'>{{frame[32].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[33])'>{{frame[33].getDate()}}</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <a (click)='navigateToDay(frame[34])'>{{frame[34].getDate()}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</div>