<div *ngIf="_incomeServices.incomesNotLiquidated.length > 0" class="row m-2" style="width:100%;height: 100%">
  <div class="col-12 p-0">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h3>Ingresos pendientes de liquidación</h3>
      </div>
      <div class="col-12">
        <table class="table scrollableTable mb-0" style="background: #F5F1E3">
          <thead class="d-flex justify-content-around">
            <th style="width:10%">Origen</th>
            <th style="width:10%">Cantidad liquidada</th>
            <th style="width:10%">Cantidad por liquidar</th>
            <th style="width:10%"></th>
            <th style="width:60%">Liquidaciones</th>
          </thead>
          <tbody class="mb-0">
            <tr *ngFor="let income of _incomeServices.incomesNotLiquidated let i = index"
              class="d-flex justify-content-around" style="width: 100%">
              <td style="width:10%">{{income.debitor.name}}</td>
              <td style="width:10%">{{income.liquidatedAmount}}</td>
              <td style="width:10%">{{income.notLiquidatedAmount}}</td>
              <td style="width:10%">
                <button (click)='postPayments(income._id)' class="btn btn-warning">Liquidar</button>
                <button *ngIf="income.liquidatedAmount === 0" class="btn btn-warning"><i class="fas fa-edit"></i></button>
              </td>
              <td style="width:60%">
                <table class=' table scrollableTable' style='height:100px;width:100%'>
                  <thead class="mr-3" class="d-flex justify-content-around">
                    <th class="p-1" style="width:20%">Fecha</th>
                    <th class="p-1" style="width:20%">Importe</th>
                    <th class="p-1" style="width:20%">Artista</th>
                    <th class="p-1" style="width:40%">ID</th>
                  </thead>
                  <tbody style='height:100px'>
                    <tr *ngFor="let payment of _incomeServices.incomesNotLiquidated[i].payments"
                      class="d-flex justify-content-around" style="width:100%">
                      <td style="width:20%">{{payment.date | date}}</td>
                      <td style="width:20%">{{payment.amount}}</td>
                      <td style="width:20%">{{payment.artist.indexcard['name']}}</td>
                      <td style="width:40%">{{payment._id}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
          <hr>
          <div class="row m-3" style='background:#F5F1E3;'>
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-around">
              <button (click)="switch(-5)" *ngIf="_incomeServices.fromINL > 0" class="btn btn-warning">PREV</button>
              <button (click)="switch(5)" *ngIf="_incomeServices.fromINL + 5 <=  _incomeServices.iNLCount  "
                class="btn btn-warning">NEXT</button>
            </div>
            <div class="col-2"></div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>
