.scrollableTable tbody {
     height: 320px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}

.insideTable tbody{
    height: 100px !important
}


@media (min-height: 694px) {
    .scrollableTable tbody {
        height:calc(1.1*320px)
    }
    .insideTable tbody{
    height: calc(1.1*100px) !important
}
}

@media (min-height: 781px) {
  .scrollableTable tbody {
        height:calc(1.25*320px)
    }
    .insideTable tbody{
    height: calc(1.25*100px) !important
}
}

@media (min-height: 833px) {
  .scrollableTable tbody {
        height:calc(1.35*320px)
    }
    .insideTable tbody{
    height: calc(1.35*100px) !important
}
}

@media (min-height: 937px) {
  .scrollableTable tbody {
        height:calc(1.5*320px)
    }
    .insideTable tbody{
    height: calc(1.5*100px) !important
}
}

@media (min-height: 1250px) {
  .scrollableTable tbody {
        height:calc(2*320px)
    }
    .insideTable tbody{
    height: calc(2*100px) !important
}
}

@media (min-height: 1875px) {
   .scrollableTable tbody {
        height:calc(3*320px)
    }
    .insideTable tbody{
    height: calc(3*100px) !important
}  
}

@media (min-height: 2500px) {
  .scrollableTable tbody {
        height:calc(3.9*320px)
    }
    .insideTable tbody{
    height: calc(3.9*100px) !important
}
}