<div class="row m-2" style='background:#DCD4D2'>
    <div class="col-12 list-group">
        <h3 class='list-group-item-heading text-center mt-3'>INSTALACIONES</h3>
        <button (click)='_facilitiesModalController.showModal()' class='btn btn-warning m-2'>CREAR INSTALACION</button>
    </div>
    <div *ngIf="!cargando" class="col-12 animated fadeIn" style='background:#DCD4D2;width:1000px'>
        <table class='table table-hover' style='background:#F5F1E3;border:1px solid #F0B841'>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th></th>
            </tr>
            <tr *ngFor="let facilitie of _facilitieServices.facilities let i=index">
                <td>
                    <div><strong> {{facilitie.name}}</strong></div>
                </td>
                <td>
                    <label *ngIf="!facilitie.status">
                                            <button class='btn btn-warning' (click)=changeStatus(facilitie)>Activar</button>
                                            </label>
                    <label *ngIf="facilitie.status">
                                             <button class='btn btn-warning' (click)=changeStatus(facilitie)>Desactivar</button>
                                            </label>
                </td>
                <td>
                    <button (click)='putFacilitie(facilitie._id)' class="btn btn-warning">
                        <i class="fas fa-edit"></i>
                      </button>
                    <button (click)="deleteFacilitie(facilitie._id)" class="btn btn-warning">
                        <i class="far fa-trash-alt"></i>
                      </button>
                </td>
            </tr>
        </table>
    </div>
</div>