/* You can add global styles to this file, and also import other style files */
.hidden {
    display: none
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'EBGaramond';
    src: url(/src/styles/EB_Garamond/EBGaramond-ExtraBold.woff2) format('woff2'), url(/src/styles/EB_Garamond/EBGaramond-ExtraBold.woff) format('woff')
}

* {
    font-family: 'EB Garamond', serif;
    font-size: 13px
}

@media (min-width: 1700px) {

    * {
    font-size: 15px
} 
}

@media (min-width: 1800px) {

    * {
    font-size: 16px
} 
}

@media (min-width: 1800px) {

    * {
    font-size: 17px
} 
}

@media (min-width: 1900px) {

    * {
    font-size: 18px
} 
}

@media (min-width: 2000px) {

    * {
    font-size: 19px
} 
}

@media (min-width: 2100px) {

    * {
    font-size: 20px
} 
}

@media (min-width: 2200px) {
    * {
    font-size: 21px
}
    
}

@media (min-width: 2300px) {
    * {
    font-size: 22px
}
    
}

@media (min-width: 2400px) {
    * {
    font-size: 23px
}
    
}


@media (min-width: 2500px) {
    * {
    font-size: 24px
}
    
}

@media (min-width: 2600px) {
    * {
    font-size: 26px
}
}

@media (min-width: 2700px) {
    * {
    font-size: 28px
}
}

@media (min-width: 2800px) {
    * {
    font-size: 30px
}
}

@media (min-width: 2900px) {
    * {
    font-size: 32px
}
    
}

@media (min-width: 3000px) {
    * {
    font-size: 34px
}
}

@media (min-width: 3100px) {
    * {
    font-size: 36px
}
}

div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

a {
    color: blue;
    cursor: pointer;
}

.scrollableTable thead,
.scrollableTable tbody {
    display: block;
}

.scrollableTable tbody {
     height: 200px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}

.scrollableTable table {
    width: 100%;
    /* Optional */
}

.scrollableTable tbody td,
.scrollableTable thead th {
    width: 10%;
    /* Optional */
}

.pagesContainerFixed{
margin: 1%;
margin-top:0px;
background:#DCD4D2;
height: 100%;
}

i{
    cursor: pointer;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
