/* You can add global styles to this file, and also import other style files */
.hidden {
    display: none;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'EBGaramond';
    src: url(/src/styles/EB_Garamond/EBGaramond-ExtraBold.woff2) format('woff2'), url(/src/styles/EB_Garamond/EBGaramond-ExtraBold.woff) format('woff')
}

* {
    font-family: 'EB Garamond', serif;
    font-size: 13px;
}

div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

a {
    color: blue;
    cursor: pointer;
}

.scrollableTable thead,
.scrollableTable tbody {
    display: block;
}

.scrollableTable tbody {
     height: 200px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: auto;
    /* Hide the horizontal scroll */
}

.scrollableTable table {
    width: 100%;
    /* Optional */
}

.scrollableTable tbody td,
.scrollableTable thead th {
    width: 10%;
    /* Optional */
}

.pagesContainerFixed{
margin: 1%;
margin-top:0px;
background:#DCD4D2;
height: 100%;
}

i{
    cursor: pointer;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (min-height: 694px) {
    * {
    font-size:calc(1.10* 13px);
}
  .form-check-input
{
   zoom : 1.1
}
}

@media (min-height: 781px) {
   * {
    font-size:calc(1.25* 13px);
}
  .form-check-input
{
   zoom : 1.25
}
}

@media (min-height: 833px) {
  * {
    font-size:calc(1.35* 13px);
}
  .form-check-input
{
   zoom : 1.35
}
}

@media (min-height: 937px) {
  * {
    font-size:calc(1.50* 13px);
}
  .form-check-input
{
   zoom : 1.50
}
}

@media (min-height:1250px) {
  * {
    font-size:calc(2* 13px);
}
  .form-check-input
{
   zoom : 2
}

}

@media (min-height: 1875px) {
   * {
    font-size:calc(3* 13px);
}
  .form-check-input
{
   zoom : 3
}
}

@media (min-height: 2500px) {
  * {
    font-size:calc(3.90* 13px);
}
  .form-check-input
{
   zoom : 3.9
}
}



///// SIZES REF ////

@media (min-height: 694px) {
 
}

@media (min-height: 781px) {
 
}

@media (min-height: 833px) {
 
}

@media (min-height: 937px) {
 
}

@media (min-height: 1250px) {
 
}

@media (min-height: 1875px) {
    
}

@media (min-height: 2500px) {
 
}
