/* You can add global styles to this file, and also import other style files */

.hidden {
    display: none
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}