
.scrollableTable tbody {
    height:100px;
    /* Just for the demo          */
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
    /* Hide the horizontal scroll */
}


