<div [ngClass]="_spinnerServices.pageHidden" class="row pagesContainerFixed animated fadeIn">
    <div class="col-12">
        <div class="row">
             <div class="col-12" style='background:#F0B841;border:1px solid black'>
        <div class="row p-2">
            <div class='col-11 d-flex justify-content-center'>
                <h3 class='text-center animated bounceInDown'>¡{{hi()}} {{_userServices.userOnline.name}}...!</h3>
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center">
                <i (click)="_demoServices.dashboardPopup(true)" class="fas fa-info" style='cursor:pointer;color:blue'></i>
            </div>
        </div>
    </div>
    <div class='col-7' style='height:100%'>
        <div class="row m-1">
            <div *ngIf="!_dashboardServices.unreadMessages && !_dashboardServices.pendingTasks && !_dashboardServices.uncheckedTasks" class="col-12">
                <h5 class='text-center'>No hay nuevas notificaciones
                </h5>
            </div>
            <div class="col-12 m-2 p-2" *ngIf="_dashboardServices.unreadMessages">
                <h5>Tienes mensajes sin leer....</h5>
                <div class="scrollable" style="height:120px">
                    <table class='table'>
                        <tr>
                            <td *ngFor="let project of _dashboardServices.projects" class="" style='background:#F5F1E3;width:100%'>
                                <div>
                                    <p><i class="far fa-bell"></i> Tienes {{project.messages.length}} mensajes sin leer en el proyecto :<a style='color: blue' (click)='toProject(project._id)'>{{project.name}}</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-12 m-2 p-2">
                <div class="row">
                    <div class='col-12' *ngIf="_dashboardServices.pendingTasks">
                        <h5>Tienes tareas pendientes de completar ...</h5>
                        <div class="scrollable" style="height:50%">
                            <table class='table'>
                                <tr>
                                    <td *ngFor="let project of _dashboardServices.projects" class="" style='background:#F5F1E3'>
                                        <div *ngIf="project.pendingTasks">
                                            <p><i class="far fa-bell"></i> {{checkTasksNumber(project.pendingTasks.length,'pending')}} en el proyecto: <a style='color: blue' (click)='toProject(project._id)'>{{project.name}}</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class='col-12' *ngIf="_dashboardServices.uncheckedTasks">
                        <h5>Se te han asignado nuevas tareas ...</h5>
                        <div class="scrollable" style="height:50%">
                            <table class='table'>
                                <tr>
                                    <td *ngFor="let project of _dashboardServices.projects" class="" style='background:#F5F1E3'>
                                        <p *ngIf="project.uncheckedTasks"><i class="far fa-bell"></i>{{checkTasksNumber(project.uncheckedTasks.length,'unchecked')}} asignadas en el proyecto: <a style='color: blue' (click)='toProject(project._id)'>{{project.name}}</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5" style='background:#F5F1E3'>
        <div class="row">
            <div class="col-12 mt-1" style="height:30%">
                <div *ngIf="_dashboardServices.eventsToday.length > 0" class="row d-flex justify-content-center" style="height: 10%;background:#F0B841;">
                    <h5 class='text-center'>Echa un vistazo a los eventos programados para hoy....</h5>
                </div>
                <div *ngIf="_dashboardServices.eventsToday.length > 0" class=' row d-flex justify-content-around flex-row'>
                    <table class='table scrollableTable'>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Instalación</th>
                                <th>Inicio</th>
                                <th>Finalización</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let todayEvent of _dashboardServices.eventsToday">
                                <td> <a (click)='toEvent(todayEvent.startDate)' style='color: blue'>{{todayEvent.name}}</a></td>
                                <td>{{todayEvent.facilitie['name']}}</td>
                                <td> {{todayEvent.position | timeConversor2: null}}</td>
                                <td>{{todayEvent.endDate | date: 'EEEE d MMMM' }}
                                    {{todayEvent.position | timeConversor2 : todayEvent.duration}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 mt-1" style="height:30%">
                <div *ngIf="_dashboardServices.eventsOnCourse.length > 0" class="row d-flex justify-content-center" style="height: 10%;background:#F0B841;">
                    <h5 class='text-center'>Revisa los eventos en curso...</h5>
                </div>
                <div *ngIf="_dashboardServices.eventsOnCourse.length > 0" class=' row d-flex justify-content-around flex-row'>
                    <div class=" col-12 ">
                        <table class='table scrollableTable'>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Instalación</th>
                                    <th>Inicio</th>
                                    <th>Finalización</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eventOnCourse of _dashboardServices.eventsOnCourse">
                                    <td> <a (click)='toEvent(eventOnCourse.startDate)'
                                            style='color: blue'>{{eventOnCourse.name}}</a>
                                    </td>
                                    <td>{{eventOnCourse.facilitie['name']}}</td>
                                    <td> {{eventOnCourse.startDate | date : 'EEEE d MMMM' }}
                                        {{eventOnCourse.position | timeConversor2: null}}</td>
                                    <td>{{eventOnCourse.endDate | date: 'EEEE d MMMM' }}
                                        {{eventOnCourse.position | timeConversor2 : eventOnCourse.duration}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-1" style="height: 30%">
                <div *ngIf="_dashboardServices.eventsComming.length> 0" class="row d-flex justify-content-center" style="height: 10%;background:#F0B841;">
                    <h5 class='text-center'>Aquí tienes los eventos más próximos...</h5>
                </div>
                <div *ngIf="_dashboardServices.eventsComming.length> 0" class=' row d-flex justify-content-around flex-row'>
                    <div class="col-12">
                        <table class='table scrollableTable'>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Instalación</th>
                                    <th>Inicio</th>
                                    <th>Finalización</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let eventComming of _dashboardServices.eventsComming">
                                    <td> <a (click)='toEvent(eventComming.startDate)' style='color: blue'>{{eventComming.name}}</a>
                                    </td>
                                    <td>{{eventComming.facilitie['name']}}</td>
                                    <td>{{eventComming.startDate | date: 'EEEE d MMMM' }}
                                        {{eventComming.position | timeConversor2: null}}
                                    </td>
                                    <td>{{eventComming.endDate | date: 'EEEE d MMMM' }}
                                        {{eventComming.position | timeConversor2 : eventComming.duration}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>         
        <div *ngIf="_dashboardServices.eventsComming.length === 0 && _dashboardServices.eventsOnCourse.length === 0 && _dashboardServices.eventsComming.length === 0"
            class="row" style="height:100%">
            <h5 class='text-center'>No hay eventes recientes</h5>
        </div>
    </div>
</div>



