<div class="row m-2" style='background:#DCD4D2;border:1px solid black'>
    <div class="col-12 d-flex justify-content-center m-0 p-3" style='background:#F0B841'>
        <h3 class='text-center'>¡{{hi()}} {{_userServices.userOnline.name}}!</h3>
    </div>
    <div class='col-8'>
        <div class="row" style='border:1px solid black'>
            <h5 *ngIf="!unreadMessages && !pendingTasks && !uncheckedTasks" class='text-center'>No hay nuevas notificaciones
            </h5>
            <div class="col-12 m-2 p-2" *ngIf="unreadMessages">
                <p>Tienes mensajes sin leer....</p>
                <div class="scrollable" style="height:120px">
                    <table class='table'>
                        <tr>
                            <td *ngFor="let project of projects" class="" style='background:#F5F1E3'>
                                <div>
                                    <p><i class="far fa-bell"></i> Tienes {{project.messages.length}} mensajes sin leer en el proyecto :<a style='color: blue' (click)='toProject(project._id)'>{{project.name}}</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-12 m-2 p-2">
                <div class="row">
                    <div class='col-12' *ngIf="pendingTasks">
                        <p>Tienes tareas pendientes de completar ...</p>
                        <div class="scrollable" style="height:120px">
                            <table class='table'>
                                <tr>
                                    <td *ngFor="let project of projects" class="" style='background:#F5F1E3'>
                                        <div *ngIf="project.pendingTasks">
                                            <p><i class="far fa-bell"></i> {{checkTasksNumber(project.pendingTasks.length,'pending')}} en el proyecto: <a style='color: blue' (click)='toProject(project._id)'>{{project.name}}</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class='col-12' *ngIf="uncheckedTasks">
                        <p>Se te han asignado nuevas tareas ...</p>
                        <div class="scrollable" style="height:120px">
                            <table class='table'>
                                <tr>
                                    <td *ngFor="let project of projects" class="" style='background:#F5F1E3'>
                                        <p *ngIf="project.uncheckedTasks"><i class="far fa-bell"></i>{{checkTasksNumber(project.uncheckedTasks.length,'unchecked')}} asignadas en el proyecto: <a style='color: blue' (click)='toProject(project._id)'>{{project.name}}</a>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 mt-1" style='background:#F5F1E3;height:600px'>
        <div class="row">
            <div *ngIf="eventsToday.length > 0" class="col-12 scrollable mt-2" style="height:200px">
                <h5 class='text-center'>Echa un vistazo a los eventos programados para hoy....</h5>
                <div>
                    <div class=' row d-flex justify-content-around flex-row'>
                        <div class=" col-12 ">
                            <table class='table'>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Instalación</th>
                                    <th>Empieza</th>
                                    <th>Finaliza</th>
                                </tr>
                                <tr *ngFor="let todayEvent of eventsToday">
                                    <td> <a (click)='toEvent(todayEvent.startDate)' style='color: blue'>{{todayEvent.name}}</a></td>
                                    <td>{{todayEvent.facilitie['name']}}</td>
                                    <td>Empieza hoy a las {{todayEvent.position | timeConversor2: null}}</td>
                                    <td>{{todayEvent.endDate | date: 'EEEE d MMMM' }} a las {{todayEvent.position | timeConversor2 : todayEvent.duration}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="eventsOnCourse.length > 0" class="col-12 scrollable" style="height:200px">
                <h5 class='text-center'>Revisa los eventos en curso...</h5>
                <div>
                    <div class=' row d-flex justify-content-around flex-row'>
                        <div class=" col-12 ">
                            <table class='table'>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Instalación</th>
                                    <th>Empezó</th>
                                    <th>Finaliza</th>
                                </tr>
                                <tr *ngFor="let eventOnCourse of eventsOnCourse">
                                    <td> <a (click)='toEvent(eventOnCourse.startDate)' style='color: blue'>{{eventOnCourse.name}}</a></td>
                                    <td>{{eventOnCourse.facilitie['name']}}</td>
                                    <td> {{eventOnCourse.startDate | date : 'EEEE d MMMM' }} a las {{eventOnCourse.position | timeConversor2: null}}</td>
                                    <td>{{eventOnCourse.endDate | date: 'EEEE d MMMM' }} a las {{eventOnCourse.position | timeConversor2 : eventOnCourse.duration}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="eventsComming.length> 0" class="col-12 scrollable" style="height:200px">
                <h5 class='text-center'>Aquí tienes los eventos más próximos...</h5>
                <div class='d-flex flex-column'>
                    <div class=' row d-flex justify-content-around flex-row'>
                        <div class="col-12">
                            <table class='table'>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Instalación</th>
                                    <th>Empieza</th>
                                    <th>Finaliza</th>
                                </tr>
                                <tr *ngFor="let eventComming of eventsComming">
                                    <td> <a (click)='toEvent(eventComming.startDate)' style='color: blue'>{{eventComming.name}}</a>
                                    </td>
                                    <td>{{eventComming.facilitie['name']}}</td>
                                    <td>{{eventComming.startDate | date: 'EEEE d MMMM' }} a las {{eventComming.position | timeConversor2: null}}
                                    </td>
                                    <td>{{eventComming.endDate | date: 'EEEE d MMMM' }} a las {{eventComming.position | timeConversor2 : eventComming.duration}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class='col-12 m-4'>
        <img style='height:100px;width:1000px' class='img-fluid' src="../../../assets/cargo3.png" alt="">
    </div>
</div>