canvas{
  width: 600px !important;
  height:380px !important;
}

@media (min-width: 1700px) {
  canvas{
  width: 800px !important;
  height:500px !important;

}   
}

@media (min-width: 2250px) {

  canvas{

  width: 950px !important;
  height:600px !important;

}
}

@media (min-width: 2600px) {

  canvas{

  width: 1100px !important;
  height:750px !important;

}
}



@media (min-width: 2800px) {
  canvas{

  width: 1200px !important;
  height:850px !important;

}
   
}


@media (min-width: 3000px) {
  canvas{

  width: 1350px !important;
  height:1000px !important;

}
    
}
 