canvas{
  width: 600px !important;
  height:300px !important;
}


@media (min-height: 694px) {
  canvas{
  width: calc(1.10 * 600px) !important;
  height:calc(1.10 *300px) !important;
}
}

@media (min-height: 781px) {
  canvas{
  width: calc(1.25 * 600px) !important;
  height:calc(1.25 *300px) !important;
}
}

@media (min-height: 833px) {
  canvas{
  width: calc(1.35 * 600px) !important;
  height:calc(1.35 *300px) !important;
}
}

@media (min-height: 937px) {
  canvas{
  width: calc(1.5 * 600px) !important;
  height:calc(1.5 *300px) !important;
}
}

@media (min-height: 1250px) {
  canvas{
  width: calc(2 * 600px) !important;
  height:calc(2 *300px) !important;
}
}

@media (min-height: 1875px) {
    canvas{
  width: calc(2.9 * 600px) !important;
  height:calc(2.9 *300px) !important;
}
}

@media (min-height: 2500px) {
 canvas{
  width: calc(3.9 * 600px) !important;
  height:calc(3.9 *300px) !important;
}
}
 