<div class='row d-flex justify-content-center' style='background:#F5F1E3;display:block;height:100%'>
    <div class="card m-0 p-0 row d-flex flex-row" *ngFor="let file of _projectServices.textFiles"style='height:150px;width:170px'>
        <div class="col-11 m-0 p-0">
            <div class="row">
                <div class="col-12"><img (click)='showFile(file._id)' style='height: 100%;width:100%' class='img-fluid' [src]="file | imgPipe"></div>
                <div class="col-12"><small>{{file.title}}</small></div>
            </div>
        </div>
        <div class="col-1 m-0 p-0" *ngIf="_projectServices.checkAdmin(_projectServices.projectSelectedId)">
            <a  (click)='deleteFile(file._id)' routerLinkActive="active"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
    <div *ngIf="_projectServices.textFiles.length === 0">
        <h5>No hay archivos disponibles</h5>
    </div>
</div>